.link-with-circle{
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.3s;
	&__circle, &__circle-inner{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__circle{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid #9AB4C1;

	}
	&__circle-inner{
		width: 28px;
		height: 28px;
		border-radius: 50%;
		border: 1px solid #17315B;
		svg{
		}
	}
	&__text{
		font-weight: 500;
		font-size: 15px;
		line-height: 1.6em;
		letter-spacing: 0.08em;
		color: #C11426;
		margin-left: 25px;
		@include to(768px){
			font-size: 12px;
			line-height: 1.5em;
		}
		@include to(480px){
			font-size: 14px;
			line-height: 1.4em;
		}
	}
}

.company-main-banner{
	padding-top: 92px;
	padding-bottom: 137px;
	background-position: -2px center;
	background-size: cover;
	width: 100%;
	@include to(768px){
		padding-top: 50px;
		padding-bottom: 80px;
	}
	@include to(480px){
		padding-top: 25px;
		padding-bottom: 60px;
		background-position: center;
	}
	&__title{
		font-weight: bold;
		font-size: 60px;
		line-height: 1.1em;
		color: #F6F7FC;
		max-width: 490px;
		margin-bottom: 20px;
		@include to(768px){
			margin-bottom: 8px;
			font-size: 32px;
			line-height: 1.2em;
		}
	}
	&__text{
		font-size: 12px;
		line-height: 1.8em;
		color: #F0F1F8;
		max-width: 310px;
		margin-bottom: 50px;
		@include to(768px){
			margin-bottom: 25px;
			max-width: 290px;
		}
		@include to(480px){
			margin-bottom: 0px;
			max-width: 300px;
		}
	}
	.link-with-circle{
		@include to(480px){
			display: none;
		}
		&__circle{
			border-color: #9AB4C1;
		}
		&__circle-inner{
			border-color: #F6F7FC;
		}
	}
}

.company{
	&__title{
		font-weight: bold;
		font-size: 45px;
		line-height: 1.2em;
		color: #000C31;
		@include to(992px){
			font-size: 35px;
			line-height: 1.2em;
		}
		@include to(480px){
			font-size: 22px;
			line-height: 1.3em;
		}
	}
	&__text{
		font-size: 12px;
		line-height: 1.8em;
		color: #586386;
	}
}

.company-second-sec{
	padding: 110px 0 100px;
	@include to(992px){
		padding: 55px 0 55px;
	}
	@include to(480px){
		padding: 25px 0 5px;
	}
	&__row{
		justify-content: center;
	}
	&__content-wrapper{
		justify-content: space-between;
		display: flex;
		@include col();
		@include size(10);
		@include size-md(12);
		margin-bottom: 130px;
		align-items: center;
		@include to(992px){
			margin-bottom: 50px;
		}
	}
	&__title{
		flex-basis: 210px;
		@include to(768px){
			margin-top: -20px;
		}
		@include to(720px){
			display: none;
		}
		&_mobile{
			margin-top: 0;
			display: none;
			@include to(720px){
				display: block;
				margin-bottom: 5px;
			}
		}
	}
	&__text{
		flex-basis: 660px;
		padding-left: 120px;
		position: relative;
		@include to(992px){
			padding-left: 82px;
		}
		@include to(480px){
			padding-left: 65px;
		}
		&::before{
			position: absolute;
			left: 0;
			top: 15px;
			content: '';
			display: block;
			height: 1px;
			width: 65px;
			margin-right: 55px;
			background-color: #C11426;
			@include to(992px){
				width: 42px;
			}
			@include to(720px){
				top: 20px;
				width: 50px;
				left: -10px;
			}
			@include to(480px){
				top: 12px;
			}
		}
	}
}

.company-advantages{
	min-height: calc(100vh - 66px);
	position: relative;
	background-color: #F0F1F8;
	@include to(768px){
		min-height: auto;
		padding: 40px 0;
	}
	&__title{
		text-align: center;
		z-index: 5;
		position: relative;
		margin-bottom: 25px;
		@include to(768px){
			margin-bottom: 5px;
		}
		@include to(640px){
			margin-bottom: 30px;
		}
		@include to(480px){
			margin: 0 auto 30px
		}
	}
	&__subtitle{
		font-weight: 500;
		font-size: 28px;
		line-height: 1.4em;
		color: #000C31;
		margin-bottom: 5px;
		@include to(768px){
			font-size: 22px;
			line-height: 1.2em;
		}
	}
	&__small-title{
		font-weight: 500;
		font-size: 14px;
		line-height: 1.7em;
		text-transform: uppercase;
		color: #17315B;
		margin-bottom: 10px;

	}
	&__list{
		margin-bottom: 40px;
		li{
			padding-left: 20px;
			font-size: 12px;
			line-height: 1.7em;
			color: #586386;
			position: relative;
			margin-bottom: 10px;
			@include to(768px){
				margin-bottom: 5px;
			}
			&::before{
				content: '';
				display: block;
				width: 3px;
				height: 3px;
				background-color: #C11426;
				border-radius: 50%;
				position: absolute;
				top: 10px;
				left: 0;
			}
		}
	}
	&__text{	
		margin-bottom: 15px;
	}
	&__content{
		
	}
	&__inner{
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: calc(100vh - 66px);
		position: relative;
		@include to(768px){
			height: auto;
			justify-content: flex-start;
			align-items: flex-start;
			width: 43%;
		}
		@include to(640px){
			width: 100%;
			flex-direction: row;
		}

		
	}
	&__big-img{
		width: 50%;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 1;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@include to(768px){
			width: 57%;
		}
		@include to(640px){
			position: relative;
			width: 100%;
			height: auto;
			margin-bottom: 25px;
		}
	}
	&__description-block{
		max-width: 380px;
		@include to(768px){
			margin-bottom: 20px;
			max-width: 290px;
		}
		@include to(640px){
			max-width: 100%;
		}
	}
	&__number{
		align-self: flex-start;
		color: #C11426;
		text-transform: uppercase;
		font-size: 10px;
		line-height: 1.5em;
		margin-bottom: 4px;
		@include to(768px){
			margin-bottom: 20px;
		}
		@include to(640px){
			margin-right: 20px;
		}
	}
	&__kolorit-bg-img-wrapper{
		position: absolute;
		bottom: 0;
		left: 0px;
		overflow: hidden;
		@include to(768px){
			position: relative;
		}
		@include to(480px){
			display: none;
		}
		
	}
	&__kolorit-bg-img{
		height:210px;
		width: 1155px;
		max-width: none;
		transform: translateX(-35px);
		@include to(768px){
			width: 840px;
			height: 150px;
		}
	}
	&_1{
		.company__title{
			@include to(480px){
				font-size: 28px;
				line-height: 1.15em;
				max-width: 315px;
			}
		}
		.company-advantages__inner{
			height: calc(100vh - 190px);
			@include to(768px){
				height: auto;
			}
		}
		padding-top: 45px;
		@include to(768px){
			padding-top: 40px;
		}

	}
	&_2{
		background-color: #fff;
		.company-advantages__big-img{
			left: 0;
			right: auto;
		}
		.company-advantages__inner{
			margin-left: auto;
		}
		.link-with-circle{
			margin-top: 60px;
			@include to(480px){
				margin-top: 40px;
			}
			&__text{
				max-width: 156px;
				@include to(768px){
					max-width: 125px;
				}
			}
		}
		.company-advantages__number{
			position: absolute;
			top: 40px;
			right: 0;
		}
		.company-advantages__small-title_safety{
			margin-right: 40px;
			margin-bottom: 20px;
		}
		.products-card-block-info{
			@include to(768px){
				max-width: none;
			}
			@include to(480px){
				max-width: 150px;
			}
		}
	}
	&_3{
		@include to(768px){
			padding-top: 80px;
			padding-bottom: 0;
			@include to(640px){
				padding-top: 40px;
			}
		}
		.company-advantages__inner{
			overflow: hidden;
			justify-content: flex-start;
			padding-top: 52px;
		}
		.company-advantages__number{
			margin-bottom: 35px;
		}
		.link-with-circle{
			margin-top: 55px;
			@include to(768px){
				margin-top: 40px;
				margin-bottom: 57px;
			}
			&__text{
				max-width: 125px;
				@include to(768px){
					max-width: 120px;
				}
			}
		}
		
	}
	&_4{
		background-color: #fff;
		.company-advantages__big-img{
			left: 0;
			right: auto;
		}
		.company-advantages__inner{
			margin-left: auto;
		}
		.link-with-circle{
			margin-top: 60px;
			&__text{
				max-width: 156px;
			}
		}
		.company-advantages__number{
			position: absolute;
			top: 40px;
			right: 0;
		}
		.company-advantages__small-title_safety{
			margin-right: 40px;
			margin-bottom: 20px;
		}
		.company-advantages__logo{
			max-width: 215px;
			margin-top: 65px;
		}
	}
	&_1, &_3{
		@include to(768px){
			.company-advantages__inner{
				padding-top: 0;
				padding-right: 20px;
			}
			.company-advantages__number{
				margin-bottom: 19px;
			}
		}
		@include to(640px){
			.company-advantages__inner{
				padding-right: 0px;
			}
		}
		

	}
	&_2, &_4{
		@include to(768px){
			.company-advantages__inner{
				padding-left: 20px;
			}
			
			.company-advantages__number{
				position: static;
				align-self: flex-end;
				margin-bottom: 37px;
				
			}
		}
		@include to(640px){
			.company-advantages__inner{
				padding-left: 0px;
			}
			.company-advantages__number{
				align-self: flex-start;
				
			}
		}
		
	}

	
	

}

.company-principles{
	.row{
		width: 100%;
		@include to(768px){
			width: auto;
		}
	}
	&__title{
		max-width: 510px;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 60px;
		@include to(768px){
			max-width: 390px;
		}
		@include to(480px){
			font-size: 28px;
			margin-bottom: 22px;
		}
	}
	&__info-block + &__info-block{
		@include to(768px){
			margin-top: 50px;
		}
	}
	&__info-block{
		@include col();
		@include size(4);
		@include size-sm(12);
		
		position: relative;
		transition: all 0.3s;
		@include to(768px){
			padding: 0;
		}
		&_active{
			
			// height: 450px;
			.company-principles__info-block-inner{
				overflow: visible;
				height: 425px;
				background: #fff;
				position: absolute;
				z-index: 5 ;
				box-shadow: 0px 4px 30px rgba(154, 180, 193, 0.4);
			}
			.company-principles__info-block-text-collapse{

				
			}
			.company-principles__info-block-content{
				// height: 300px;
				// position: absolute;
				// width: calc(100% - 10px);
			}
			.company-principles__info-block-cross{
				opacity: 0;
			}
			.company-principles__btn{
				opacity: 0;
			}
			.company-principles__info-block-text-collapse-wrapper{
				overflow: visible;
				height: 300px;
				// position: absolute;
				// top: 0;
				// left: 0;
				// width: 100%;
				overflow-y: scroll;
				z-index: 2;
			}
		}
		&-inner{
			position: relative;
			height: 168px;
			overflow: hidden;
			padding: 10px 10px;
			transition: all 0.3s;
			@include to(768px){
				height: auto;
				display: flex;
				padding: 0;
			}
			@include to(480px){
				flex-direction: column;
			}
		}

		&-top{
			display: flex;
			align-items: center ;
			margin-bottom: 20px;
			@include to(768px){
				flex-shrink: 0;
				align-self: flex-start;
			}
			@include to(480px){
				margin-bottom: 10px;
			}
		}
		&-img{
			max-width: 60px;
			margin-right: 25px;
			@include to(480px){
				max-width: 52px;
			}
		}
		&-content{
			transition: all 0.5s;
			position: relative;
		}
		&-title{
			@include to(768px){
				margin-bottom: 10px;
			}
			@include to(480px){
				margin-bottom: 0;
				font-size: 12px;
				line-height: 1.7em;
			}
			
		}
		&-text-collapse-wrapper{
			position: relative;
			height: 88px;
			overflow: hidden;
			transition: all 0.5s;
			padding-right: 10px;
			@include to(768px){
				height: auto;
				padding-right: 0;
			}
			&::-webkit-scrollbar{
				width: 1px;
				
			}
			&::-webkit-scrollbar-thumb{
				background-color: #C11426
			}
			&::-webkit-scrollbar-track-piece{
				background-color: #fff;
			}

			.company__text + .company__text{
				margin-top: 15px;
			}
		}
		&-text-collapse{
			height: 88px;
			margin-bottom: 30px;
			transition: all 0.5s;
			position: relative;
			overflow: hidden;
			z-index: -1;
			@include to(768px){
				height: auto;
				padding-right: 0;
			}
			
			&-overlay{
				position: absolute;
				bottom: 0;
				left: 0;
				background: linear-gradient(360deg, #FFFFFF 34.15%, rgba(255, 255, 255, 0) 203.66%);
				width: calc(100% - 10px);
				height: 82px;
				z-index: 5;
			}
			
		}
		&-cross{
			cursor: pointer;
			display: inline-block;
			opacity: 1;
			margin-left: 10px;
			margin-top: 25px;
			@include to(768px){
				display: none;
			}

		}
	}
	&__inner{
		position: relative;
		min-height: calc(750px);
		height: calc(100vh - 66px);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 100px;
		padding-bottom: 75px;
		@include to(768px){
			padding-top: 62px;
			padding-bottom: 40px;
			height: auto;
		}
		@include to(480px){
			padding-top: 50px;
			padding-bottom: 50px;
		}
		
	}
	&__bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		flex-grow: 1;
		z-index: -2;
		width: 100%;
		height: 389px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
		@include to(768px){
			display: none;
		}
	}

	.link-with-circle{
		text-align: center;
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 75px;
		
		@include to(768px){
			display: none;
		}
		span{
			margin-left: 0;
			max-width: 190px;
			margin-bottom: 16px;
		}
	}
}


.company-partners{
	background-color: #F6F7FC;
	&__title-row{
		justify-content: center;
	}
	&__row{
		position: relative;
		@include to(768px){
			justify-content: space-between;
		}
		&:after{
			content: '';
			width: 1px;
			height: calc(100% - 75px);
			background-color: #9AB4C1;
			position: absolute;
			left: 50%;
			top: 0;
			@include to(560px){
				display: none;
			}
		}
	}
	&__inner{
		padding-top: 90px;
		padding-bottom: 55px;
		@include to(768px){
			padding-top: 70px;
			padding-bottom: 25px;
		}
		@include to(480px){
			padding-top: 40px;
			padding-bottom: 15px;
		}
	}
	&__subtitle{
		@include col();
		@include size(10);
		@include size-sm(12);
		margin-bottom: 50px;
		color: #C11426;

		@include to(768px){
			margin-bottom: 25px;
		}
		@include to(480px){
			text-align: center;
			margin-bottom: 10px;
		}
	}
	&__info-block{
		@include col();
		@include size(4);
		@include size-sm(5);
		@include size-xs(12);
		@include shift-left(1);
		@include shift-right(1);
		@include shift-sm-left(0);
		@include shift-sm-right(0);
		margin-bottom: 75px;
		@include to(768px){
			margin-bottom: 40px;
		}
		&-top{
			height: 50px;
			display: flex;
			align-items: center;
			margin-bottom: 12px;
		}
		&-logo.emballator{
			max-width: 140px;
		}
		&-logo.basf{
			max-width: 115px;
		}
		&-logo.venator{
			max-width: 130px;
		}
		&-logo.dow{
			max-width: 120px;
		}
		&-subtitle{
			margin-bottom: 5px;
			color: #9AB4C1;
			display: block;
		}
	}
}

.company-banner{
	background-color:  #17315B;
	box-shadow: 0px 5px 20px rgba(23, 49, 91, 0.1);
	padding: 65px 0;
	@include to(768px){
		padding: 60px 0;
	}
	@include to(480px){
		padding: 54px 0;
	}
	&__row{
		justify-content: center;
	}
	&__inner{
		@include col();
		@include size(10);
		@include size-md(12);
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include to(480px){
			flex-direction: column;
		}
	}
	&__title{
		font-weight: 500;
		font-size: 28px;
		line-height: 1.4em;
		color: #F6F7FC;
		max-width: 220px;
		@include to(768px){
			font-size: 22px;
			line-height: 1.3em;
		}
		@include to(480px){
			max-width: 300px;
			margin-bottom: 8px;
		}
	}
	&__text{
		font-size: 12px;
		line-height: 1.8em;
		color: #9AB4C1;
		max-width: 340px;
		@include to(768px){
			max-width: 262px;
		}
		@include to(480px){
			text-align: center;
			margin-bottom: 27px;
		}
	}
	.link-with-circle{
		&__circle{
			border-color: #9AB4C1;
		}
		&__circle-inner{
			border-color: #F0F1F8;
		}
		&__text{
			color: #F0F1F8;
			max-width: 90px;
		}
	}
}

.company-trophy{
	&__title-row{
		justify-content: center;
	}
	&__row{
		position: relative;
		justify-content: center;
	}
	&__inner{
		padding-top: 100px;
		padding-bottom: 100px;
		@include to(768px){
			padding-top: 60px;
			padding-bottom: 60px;
		}
		@include to(480px){
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	&__subtitle{
		@include col();
		@include size(10);
		@include size-md(12);
		@include size-sm(12);
		margin-bottom: 50px;
		color: #C11426;
		@include to(768px){
			margin-bottom: 40px;
		}
	}
	&__info-block{
		@include col();
		@include size(4);
		@include size-md(6);
		@include size-sm(6);
		margin-bottom: 42px;
		
		@include to(480px){
			margin-bottom: 0;
		}
		
		.company__text{
			max-width: 285px;
			@include to(480px){
				max-width: 245px;
			}
		}
		&-top{
			height: 50px;
			display: flex;
			align-items: center;
			margin-bottom: 25px;
			height: 95px;
		}
		&-logo{
			width: auto;
			margin-right: 35px;
			@include to(480px){
				margin-right: 15px;
			}
		}
		&-subtitle{
			margin-bottom: 5px;
			color: #9AB4C1;
			display: block;
		}
		&-title{
			font-weight: 500;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 1.7em;
			color: #17315B;
			max-width: 160px;
		}
	}
	&__link-block{
		@include col();
		@include size(4);
		@include size-md(6);
		@include size-sm(6);
		
		align-items: center;
		display: flex;
		margin-bottom: 42px;

	}
	&__content-wrapper{
		@include col();
		@include size(10);
		@include size-md(12);
		@include size-sm(12);
		@include to(480px){
			display: flex;
			min-width: 0;
		}
	}
	&__mob-slider-control{
		display: none;
		@include to(480px){
			display: block;
			margin-right: 25px;
		}
	}
	&__mob-arrows{
		margin-top: 60px;
		.company-docs__arrow + .company-docs__arrow{
			margin-top: 15px;
		}
	}
	&__slide-number{
		color: #C11426;
		font-weight: 500;
		font-size: 10px;
		line-height: 2.8em;
	}
	.company-trophy-slider-js{
		min-width: 0;
		max-width: 300px;
		.slick-track{
			display: flex;
		}
	}
	.link-with-circle{
		&__text{
			max-width: 190px;
		}
	}


	
}

.docs-slider{
	&__card-wrapper{
		width: 172px;
	}
	&__card{
		padding: 8px;
		background-color: #17315B;
		width: 100%;
		height: 232px;
	}
	&__card-inner{
		width: 100%;
		height: 100%;
		border: 1px solid rgba(154, 180, 193, 0.6);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 15px;
	}
	&__card-top{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	&__doc-icon{
		max-width: 52px;
		height: 58px;
	}
	&__file-size{
		margin-top: 15px;
		font-size: 10px;
		line-height: 1.5em;
		color: #F0F1F8;
		text-transform: uppercase;
	}
	&__card-text{
		font-size: 14px;
		line-height: 1.8em;
		color: #AAC0C9;
	}
	&__bottom{
		padding: 8px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__download-icon{
		width: 12px;
		height: 15px;
	}
	&__filename{
		max-width: 140px;
		font-size: 12px;
		line-height: 1.8em;
		color: #000C31;
		
	}
	&__download-link{
		margin-top: 15px;
	}
}
.icon--docs-arrow-prev, .icon--docs-arrow-next{
	width: 15px;
	height: 15px;
	@include to(768px){
		width: 12px;
		height: 12px;
	}
	@include to(480px){
		width: 10px;
		height: 10px;
	}
}
.company-docs{
	background-color: #F0F1F8;
	padding-top: 90px;
	padding-bottom: 110px;
	@include to(768px){
		padding-top: 48px;
		padding-bottom: 63px;
	}
	@include to(480px){
		padding-top: 31px;
		padding-bottom: 41px;
	}
	&__arrows{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 125px;
		padding-right: 45px;
		@include to(480px){
			padding-right: 25px;
			height: 85px;
			margin-top: 70px;
		}
	}
	&__inner{
		display: flex;
		min-width: 0;
		justify-content: space-between;
		height: 450px;
		@include to(768px){
			flex-direction: column;
			justify-content: flex-start;
			height: auto;
		}
		@include to(480px){
			flex-direction: column-reverse;
		}
	}
	&__link-with-circle{
		span{
			max-width: 156px;
		}
		@include to(768px){
			display: none;
		}
		@include to(480px){
			display: flex;
		}
	}
	&__slider{
		min-width: 0;
		margin-bottom: 75px;
		flex-basis: 600px;
		@include to(768px){
			flex-basis: auto;
			margin-bottom: 35px;
		}
	}
	&__slider-wrapper{
		min-width: 0;
		display: flex;
		margin-right: 20px;
		@include to(768px){
			margin-right: 0;
		}
	}
	&__arrow{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #FBFBFB;
		box-shadow: 0px 15px 35px rgba(188, 190, 195, 0.3);
		cursor: pointer;
		@include to(768px){
			width: 42px;
			height: 42px;
		}
		@include to(480px){
			width: 34px;
			height: 34px;
		}
	}
	&__docs-block{
		background: #fff;
		padding: 35px 40px 40px 60px;
		flex-basis: 380px;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		@include to(768px){
			padding: 0;
			background-color: #F0F1F8;
			flex-basis: auto;
		}
		@include to(480px){
			margin-bottom: 70px;
		}
	}
	&__slider-and-link{
		display: flex;
		flex-direction: column;
		flex-basis: 600px;
		min-width: 0;
	}
	&__title{
		margin-bottom: 15px;
		@include to(768px){
			max-width: 185px;
			margin-bottom: 10px;
		}

	}
	&__button{
		color: #000C31;
		letter-spacing: 0.08em;
		font-weight: 500;
		font-size: 15px;
		line-height: 1.6em;
		display: flex;
		border-radius: 25px;
		border: 1px solid #9AB4C1;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 48px;
		text-decoration: none;
		@include to(480px){
			width: 300px;
			align-self: center;
		}
	}
	&__text-section{
		margin-bottom: 48px;
		@include to(768px){
			margin-bottom: 40px;
		}
	}
}

.docs-slider{
	&__item{
		margin-right: 30px;
	}
}