.section-slaider-wrap .slick-initialized .slick-slide {
	display: flex;
}
.section-slaider{
	position: relative;
	overflow: hidden;
	&__item{
		height: 750px;
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 100%;
		// height: 100%;
		display: flex;
		flex-wrap: wrap;
		@include to(992px){
			height: 512px;
		}
		@include to(700px){
			height: 100%;
			min-height: 512px;
		}
		@include to(700px){
			flex-wrap: nowrap;
		}
		.wrap{
			display: flex;
			flex-direction: column;
		}
	}
}


// .js-animation{
// 	.section-slaider__item:nth-child(1){
// 		.img-overlay{
// 			transform: translate(0, -100%);
// 		}
// 		.slide-content-1{
// 			opacity: 0;
// 			height: 100%;
// 		}
// 		.slide-content-2{
// 			opacity: 0;
// 			transform: translateY(100%);
// 		}
// 	}
// 	.slider-breadcrumds-list li{
// 		opacity: 0;
// 		transform: translateX(-30%);
// 	}
// 	.slide-content__bucket{
// 		opacity: 0;
// 		transform: translateY(15%);
// 	}
// 	.word-animate{
// 		transform: translateY(-100%);
// 	}
// 	.slide-content__text, .slide-content__btn{
// 		opacity: 0;
// 		transform: translateY(-50%);
// 	}
// }

.section-slaider__item:nth-child(1){
	flex-direction: row;
	z-index: 3;
	.wrap{
		width: 43.3%;
		overflow: hidden;
				@include to(700px) {
					display: none;
				}
	}
	
	.img-overlay{
		
		transform-origin: top;
	}
	.slide-content-3{
		position: relative;
		padding: 4.1% 5.5%;
		width: 56.7%;
		height: 100%;
		@include to(700px){
			padding: 37px 10px;
			width: 100%;
			height: 100%;
			min-height: 512px;
		}
	}
	.slide-content-1{
		
		width: 100%;
		position: relative;
		padding: 13.5% 9%;
		height: 65.9%;
		background-color: #C11426;
		transform-origin: right;
	}

	.slide-content-2{
		
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34.1%;
		background-color: $wc;
		background-color: #ccc;
		@include to(700px) {
			display: none;
		}
	}
	
}
.slide-content__counter-mob{
	display: flex;
	align-items: center;
	position: absolute;
	font-weight: 500;
	font-size: 10px;
	line-height: 28px;
	text-transform: uppercase;
	top: 15px;
	right: 10px;
	color: #F0F1F8;
	@include from(701px){
		display: none;
	}
}
.section-slaider__item:nth-child(2){
	
	flex-direction: row-reverse;
	z-index: 2;
	@include to(700px){
		flex-direction: column-reverse;
		min-height: 300px;
	}
	.wrap{
		width: 43.3%;
		@include to(700px){
			width: 100%;
			height: 100%;
		}
	}
	.second-slide-content__3{
		background-color: $mc2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding-bottom: 50px;
		@include to(992px){
			justify-content: center;
		}
	}
	.slide-content-3{
		position: relative;
		margin-right: auto;
		padding: 4.1% 5.5%;
		width: 56.7%;
		@include to(700px){
			width: 100%;
			padding: 43px 10px;
		}
	}
	.slide-content-1{
		position: relative;
		padding: 13.5% 9%;
		height: 65.9%;
		@include to(700px){
			display: none;
		}
	}
	.slide-content-2{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34.1%;
		background-color: $wc;
		@include to(700px) {
			display: none;
		}
	}
}
.section-slaider__item:nth-child(3){

	flex-direction: row;
	z-index: 1;
	min-height: 300px;
	.wrap{
		width: 43.3%;
		@include to(700px){
			display: none;
		}
	}

	.slide-content-1{
		position: relative;
		padding: 13.5% 9%;
		height: 65.9%;
		background-color: #9AB4C1;
	}
	.slide-content-2{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34.1%;
		background-color: $wc;
		@include to(700px) {
			display: none;
		}
	}
	.slide-content-3{
		position: relative;
		
		width: 56.7%;
		height: 100%;
		padding: 4.1% 5.5%;
		@include to(700px){
			width: 100%;
			min-height: 412px;
			padding: 50px 10px;
		}
	}
}

.img-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	&__bg{
		height: 100%;
		object-fit: cover;
	}
}
	
.slide-content{
	&__title{
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: $wc;
		line-height: 1.1em;
		@include to(992px){
			font-size: 32px;
			margin-bottom: 6px;
		}
		@include to(700px){
			font-size: 22px;
			margin-bottom: 12px;
			font-weight: 400;
		}
	}
	&__text{
		margin-bottom: 50px;
		max-width: 380px;
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 1.6em;
		color: #F0F1F8;
		@include to(992px){
			font-size: 12px;
			margin-bottom: 40px;
		}
		@include to(700px){
			max-width: 290px;
		}
	}
	&__bucket{
		

		
		position: absolute;
		top: 150px;
		right: 0;
    z-index: 10;
    width: 100%;
		max-width: 263px;
		@include to(992px){
			top: auto;
			bottom: 30px;
			right: 50%;
			transform: translateX(50%);
			max-width: 160px;
		}
	}

	&__counter{
		display: flex;
		align-items: center;
		span{

			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			color: #586386;
			opacity: 0.1;
			@include to(992px){
				font-size: 50px;
			}
		}
	}
}


.slide-content__btn{
	display: flex;
	width: 220px;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.08em;
	color: #FBFBFB;
	border: 1px solid #9AB4C1;
	border-radius: 25px;
	text-decoration: none;
	@include to(992px){
		font-size: 12px;
		width: 186px;
		height: 40px;
	}
	@include to(700px){
		max-width: 290px;
		width: 100%;
	}
	@include to(470px){
		max-width: 100%;
		height: 50px;
		font-size: 14px;
	}
}

.slider-breadcrumds-list{
	position: absolute;
	top: 79px;
	left: 45px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include to(992px){
		top: 30px;
		left: 20px;
	}
	@include to(700px) {
		display: none;
	}
}
.second-slide-content__3 .slide-content__bucket{
	top: 0px;
	right: 0px;
	max-width: 371px;
	@include to(992px){
		display: none;
	}
}
.third-slide-content__1 .slide-content__bucket {
	top: 130px;
	right: -40px;
	max-width: 420px;
	@include to(992px){
		top: auto;
		bottom: -50px;
		max-width: 250px;
		right: 50%;
		transform: translateX(50%);
	}
}
.js-animation .slider-breadcrumds-list li{
	opacity: 0;
	transform: translateX(-30%);
}
.slider-breadcrumds-item{
	margin-bottom: 19px;
	height: 28px;
	font-size: 14px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.4;
	@include to(992px){
		font-size: 12px;
		margin-bottom: 0;
	}
}

.slider-breadcrumds-item.slider-breadcrumds-item--active{
	font-weight: bold;
	color: $wc;
	opacity: 1;
}

.word-wrapper{
	overflow: hidden;
}

span.word-animate{
	display: flex;
}

.section-slaider span{
	display: flex;
}

.slide-content__counter span{
	line-height: 1em;
}

.slide-content__counter{
	width: 100%;
	height: 100%;
	justify-content: center;
	background: #F6F7FC;
}

.slide-content-1,.slide-content-2{
	width: 100%;
}

.section-slaider__item.section-slaider__item--hidden{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}



.brd{
	border: 1px solid red;
}


.main-section-sl-1__btn{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 384px;
	height: 117px;
	background: #17315B;
	@include to(992px){
		width: min(vw(450), 450px);
		height: 100px;
	}
	@include to(768px){
		width: 50%;
		height: 117px;

	}
}
.main-section-sl-1-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	@include to(700px){
		width: 100%;
		height: 72px;
	}
	.main-section-sl-1-btn__text{
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 0.08em;
		color: #F6F7FC;
		@include to(768px){
			font-size: 14px;
		}
	}
	.main-section-sl-1-btn__icon{
		width: 40px;
		height: 40px;
		margin-right: 26px;
	}
}
.main-section-sl-1__main-img{
	width: 1111px;
	height: 684px;
	@include to(1280px){
		height: 600px;
	}
	@include to(768px){
		width: 768px;
		height: calc(1024px - var(--header_h));
	}
	@include to(700px){
		width: 100vw;
		height: calc(100vh - var(--header_h));
		img{
			height: 100%;
			object-fit: cover;
		}
	}
}
.main-section-sl-1__main-img-2{
	position: absolute;
	left: calc(38px + var(--sidebar_w));
	bottom: 70px;
	width: 538px;
	height: 243px;
	@include to(1280px){
		
		bottom: min(vw(30), 30px);
	}
	@include to(1200px){
		width: min(vw(538), 538px);
		height: min(vw(243), 243px);
	}
	@include to(768px){
		transform: translateX(-50%);
		left: 50%;
		width: 65%;
		height: auto;
		bottom: 95px;
		z-index: 3;
	}
	@include to(576px){
		width: 90%;
	}
}



.main-section{
	padding-top: var(--header_h);
	padding-left: var(--sidebar_w);
	position: relative;

	margin: 0 auto;
	max-width: 1200px;
	overflow: hidden;
}

.main-section-sl-wrap{
	position: absolute;
	top: calc(108px + var(--header_h));
	left: calc(38px + var(--sidebar_w));
	display: flex;
	flex-direction: column;
	@include to(768px){
		top: calc(138px + var(--header_h));
	}
	@include to(576px){
		left: calc(10px + var(--sidebar_w));
		top: calc(48px + var(--header_h));

	}
	
}
.mouse-tip--gray{

	fill: #9AB4C1;
}
.mouse-tip--white{

	fill: #F0F1F8;
}
.mouse-tip{
	position: absolute;
	bottom: 30px;
	left: calc(50px + var(--sidebar_w));
	display: flex;
	align-items: center;
	@include to(1280px){
		bottom: 10px;
	}
	@include to(700px){
		display: none;
	}
	&__icon{
		margin-right: 15px;
		width: 17px;
		height: 26px;
	}
	&__text{
		width: 70px;
		height: 30px;
		font-size: 10px;
		line-height: lh(15, 10);
		text-transform: uppercase;

		color: #586386;
	}
}
.hot-line--darken {

	.hot-line__text{
		color: #9AB4C1;
	}
	svg{
		fill: #C11426;
	}
} 
.hot-line--white{

	.hot-line__text {
		color: #F0F1F8;
	}
	svg{
		fill: #9AB4C1; 
	}
}
.hot-line{
	position: absolute;
	top: calc(37px + var(--header_h));
	right: 45px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@include to(576px){
		display: none;
	}
	&__text{
		font-size: 12px;
		line-height: 22px;
	}
	.header__text{
		font-weight: 500;
		font-size: 18px;
		line-height: lh(24, 18);

		color: #17315B;
	}
}


.main-section-sl__title,
.main-section-sl__subtitle {
	max-width: 555px;
}

.main-section-sl__title {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 60px;
	line-height: lh(65, 60);
	color: #17315B;
	@include to(768px){
		font-size: 50px;
	}
	@include to(700px){
		font-size: 28px;
	}
}

.main-section-sl__subtitle {
	padding-right: 35%;
	font-weight: 500;
	font-size: 18px;
	line-height: lh(24, 18);
	color: #586386;
	@include to(700px){
		font-size: 14px;
	}
}




.main-section-navbar {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--sidebar_w);
	height: calc(100% - var(--header_h));
	background: #F6F7FC;
}

.slider-btn{
	display: flex;
	width: 50px;
	height: 50px;
	margin: 12.5px 0;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #FBFBFB;
	box-shadow: 15px 4px 35px rgba(188, 190, 195, 0.3);
	@include to(992px){
		width: 40px;
		height: 40px;
	}
	@include to(700px){
		width: 34px;
		height: 34px;
	}
	svg{
		width: 15px;
		height: 6px;
	}
}


.main-section {

	.slick-dots {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		padding-top: 15px;
		padding-bottom: 75px;
		li {
			margin: 0 8px;
		}

		button {
			padding: 0;

			width: 5px;
			height: 5px;
			min-width: 5px;
			min-height: 5px;
			border-radius: 50%;
			background: #9A959E;
			border: none;
			opacity: 0.5;
			font-size: 0;
			transition: all 0.3s;
			
		}
		
		li.slick-active button {
			width: 10px;
			height: 10px;
			min-width: 10px;
			min-height: 10px;
			background-color: transparent;
			border: 1px solid #17315B;
			border-radius: 50%;
			opacity: 1;
		}
	}
	.current-slick{
		display: flex;
		align-items: center;
		span{
			font-weight: 500;
			font-size: 16px;
			line-height: lh(16,24);
			color: #C11426;
		}
	}
}

/**********************************/
/*
* page items start
*/

.page-container{
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 30px;
	padding-right: 30px;
	@include to(700px){
		padding-left: 10px;
		padding-right: 10px;

	}

}
.page-list{
	padding-top: 60px;
	padding-bottom: 100px;
	@include to(992px){
		padding-top: 30px;
		padding-bottom: 90px;
	}
	@include to(700px){
		padding-bottom: 30px;
	}
}
.discounts	.row{
		padding-top: 60px;
		padding-bottom: 90px;
		@include to(992px){
			padding-top: 37px;
			padding-bottom: 58px;

		}
		@include to(700px){
			width: 100%;
			flex-wrap: nowrap;
		}
	}

.page-list-item{
	@include col();
	@include size(3);
	@include to(700px){
		@include size(6);
		margin-bottom: 20px;
	}
}
.discounts.bg-overlay::after{
	@include to(700px){
		display: none;
	}
}
.page-list-item {
	&:nth-child(1) svg {
		width: 70px;
		height: 95px;
		@include to(992px){
			width: 43px;
			height: 57px;
		}
	}
	&:nth-child(2) svg {
		width: 61px;
		height: 90px;
		@include to(992px){
			width: 36px;
			height: 53px;
		}
	}
	&:nth-child(3) svg {
		width: 77px;
		height: 95px;
		@include to(992px){
			width: 46px;
			height: 57px;
		}
	}
	&:nth-child(4) svg {
		width: 55px;
		height: 95px;
		@include to(992px){
			width: 31px;
			height: 56px;
		}
	}

	a{
		padding: 40px 29px 30px;
		min-height: 360px;
		display: flex;
		flex-direction: column;
		background: #FFFFFF;
		box-shadow: 0px 15px 35px rgba(154, 180, 193, 0.3);
		align-items: center;
		transition: all 0.3s;
		@include to(992px){
			padding: 28px 15px 30px;
			min-height: 233px;
		}
		@include to(700px){
			min-height: 200px;
			padding: 20px 29px 25px;
		}
		&:hover{
			transform: scale(1.05);
			.page-list-item__btn{
				background-color: #C11426;
				color: #F6F7FC;
				border: 1px solid #C11426;
			}
		}
	}
	&__title{
		display: flex;
		text-align: center;
		justify-content: center;
		font-weight: 500;
		font-size: 18px;
		line-height: lh(24, 18);

		display: flex;

		color: #292C35;
		@include to(992px){
			font-size: 14px;
		}
	}
	&__img{
		margin-top: auto;
		margin-bottom: auto;
		max-width: 90px;
	}
	&__btn{
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 15px;
		line-height: lh(24, 15);
		letter-spacing: 0.08em;
		border: 1px solid #9AB4C1;
		border-radius: 25px;
		color: #000C31;
		transition: all 0.3s;
		@include to(992px){
			font-size: 12px;
			height: 36px;
		}
		@include to(700px){
			display: none;
		}
	}
}



/*
* page items end
*/
/**********************************/


/**********************************/
/*
* .discounts start
*/
.section-navbar{
	margin: 0 0 0 10px;
	z-index: 2;
	padding: 0px 8.7% 0px 0px;
	display: flex;
	@include to(992px){
		padding: 0px 7% 0px 0px;
	}
	@include to(700px){
		padding: 0px 0px 0px 0px;
		
	}
}
.bg-overlay{

	position: relative;
	&::after{
		position: absolute;
		top: 0;
		right: 0;
		width: 33%;
		height: 100%;
		display: flex;
		content: "";
		background: #C11426;
		z-index: 0;
		@include to(700px){
			display: none;
		}
	}
}
	.discounts{
		position: relative;
		background: #F6F7FC;
		@include to(700px){
			width: 100%;
			.page-container{
				width: 100%;
			}
		}
		&-navbar{
			flex-direction: column;
			justify-content: space-between;
			@include to(700px){
				justify-content: flex-start;
			}
		}
		.slick-list {
			overflow: visible;
		}
	}
.discounts-navbar-content__counter {
	display: flex;
	align-items: center;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	color: #C11426;
}
.section-note{
	display: flex;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	color: #C11426;
	white-space: nowrap;
	
}
.section-subnote{
	min-width: 150px;
	font-size: 12px;
	line-height: 1.4em;
	color: #9AB4C1;
}
.discounts-navbar-btn-wrap{
	display: flex;
	flex-direction: column;
	margin-bottom: -12.5px;
	@include to(700px){
		padding-top: 120px;
	}
}
.discounts-slider-conent{

	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	max-width: 43%;
	@include to(992px){
		max-width: 50%;
	}
	@include to(700px){
		max-width: none;
		width: calc(100vw - 89px);
		overflow: hidden;
	}
}
.discounts-conent{
	&__img{
		position: absolute;
		top: 0;
		right: 0;
		width: 110%;
		padding-top: 110%;
		transform: translate(77%, -60px);
		z-index: -1;
		@include to(992px){
			max-width: min(vw(457), 457px);
			padding-top: min(vw(517), 517px);
			height:  calc(100% - 78px);
			width: 100%;
			transform: translate(65%, -37px);
		}
		@include to(700px){
			position: static;
			width: 100%;
			padding-top: 100%;
			max-width: none;
			transform: translate(0, 0);
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		padding-top: 45px;
		margin-bottom: 15px;
		font-weight: bold;
		font-size: 45px;
		line-height: lh(55, 45);

		color: #000C31;
		z-index: 4;
		@include to(992px){
			font-size: 32px;
			margin-bottom: 11px;
		}
		@include to(700px){
			padding-top: 20px;
			margin-bottom: 7px;
			font-weight: 400;
			font-size: 22px;
		}
	}
	&__text{
		padding-right: 50%;
		margin-bottom: 50px;
		font-size: 12px;
		line-height: lh(22,12);

		color: #586386;
		z-index: 4;
		@include to(992px){
			margin-bottom: 40px;
			padding-right: 35%;
		}
		@include to(700px){
			margin-bottom: 30px;
			padding-right: 0;
		}
	}
	&__btn{
		width: 210px;
		height: 48px;
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		border: 1px solid #9AB4C1;
		border-radius: 25px;
		display: flex;
		text-decoration: none;
		justify-content: center;
		align-items: center;
		text-align: center;
		letter-spacing: 0.08em;
		color: #000C31;
		z-index: 4;
	}
}

.link-arrow-type {
	display: flex;
	align-items: center;
	text-decoration: none;
&__icon{
	margin-right: 26px;
	width: 40px;
	height: 40px;
	fill: none;
	@include to(992px){
		margin-right: 20px;
	}
}
&__text{
	font-weight: 500;
	font-size: 15px;
	line-height: lh(24, 15);
	letter-spacing: 0.08em;
	white-space: nowrap;
	color: #F6F7FC;
	@include to(992px){
		font-size: 12px;
	}
}
}
.container-section-slaider-wrap{
	max-width: 1200px;
	margin: 0 auto;
}

.sec-sl-btn-wrap{
	position: absolute;
	bottom: 50px;
	right: 50px;
	display: flex;
	align-items: center;
	@include to(992px){
		bottom: 25px;
		right: 25px;

	}
	@include to(700px){
		display: none;
	}
	button{
		margin: 0 5px;
		padding: 0;
		width: 50px;
		height: 50px;
		@include to(992px){
			width: 40px;
			height: 40px;

		}
		svg{
			width: 100%;
			height: 100%;
			fill: none;
		}
	}
}

.home-news{
	background: #F0F1F8;
	@include to(700px){
		.section-navbar{
			margin: 0;
		}
	}
	.row{
		padding-top: 80px;
		padding-bottom: 64px;
		@include to(992px){
			padding-top: 33px;
			padding-bottom: 54px;
		}
		@include to(700px){
			flex-direction: column;
			margin-right: 0;
			margin-left: 0;
		}
	}
	&__title{
		max-width: 410px;
		font-weight: 500;
		font-size: 28px;
		line-height: lh(40, 28);
		display: inline-block;
		align-items: center;

		color: #000C31;
		@include to(992px){
			font-size: 18px;
			max-width: 290px;
		}
		@include to(700px){
			max-width: none;
			margin-bottom: 53px;
		}
		span{

			
			text-decoration: none;
			background-image: linear-gradient(#000C31, #000C31);
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-size: 100% 1px;
			transition: background-size .3s;
		}
	}
	&__link{
		margin-left: auto;
		@include to(1440px){

			margin-right: 5%;
		}
		z-index: 5;
	}
	.section-note{
		line-height: 40px;
	}
}
.home-news .home-news__link {

	@include to(992px){
		margin-right: 0;
		width: 33%;
		justify-content: center;
		margin-right: -8px;
	}
	@include to(700px){
		margin-left: 0;
		width: calc(100% + 20px);
		height: 90px;
		background: #C11426;
		margin-left: -10px;
		.link-arrow-type__text{

			font-size: 14px;
		}
	}
}


/*
* .discounts end
*/
/**********************************/

.home-advice{
	padding: 100px 0;
	@include to(992px){
		padding: 130px 0 100px;
		
	}
	@include to(700px){
		padding: 130px 0 0px;

	}
	.row-row{
		display: flex;
		margin-left: -10px;
		margin-right: -10px;
	}
	.section-navbar{
		flex-direction: column;
		@include to(992px){
			position: relative;
			padding-right: 20px;
		}
	}
	.advice-navbar-btn-wrap{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.slick-initialized .slick-slide{
		display: flex;
	}
}

.section-note-wrap{
	display: flex;
	flex-direction: column;
	@include to(992px){
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-150%);
	}
}

.home-advice-sl{
	display: flex;
	align-items: center;
	min-width: 0;
	width: 100%;
	@include to(992px){
		align-items: stretch;
	}
	@include to(700px){
		flex-direction: column;
	}
	&__title{
		width: 515px;
		z-index: 6;
		display: flex;
		font-weight: bold;
		font-size: 45px;
		line-height: lh(55,45);
		margin-bottom: 15px;
		color: #000C31;
		transform: translateX(-100px);
		@include to(992px){
			width: 414px;
			font-size: 32px;
			margin-bottom: 11px;
			transform: translateX(-70px);
		}
		@include to(700px){
			width: auto;
			transform: translateX(0px);
			font-weight: 500;
			font-size: 22px;
			margin-bottom: 8px;
		}
	}
	&__text{
		font-size: 12px;
		line-height: lh(22,12);
		margin-bottom: 50px;
		color: #586386;
		@include to(992px){
			margin-bottom: 40px;
		}
		@include to(700px){
			margin-bottom: 30px;
		}
	}
	&__btn{
		margin-bottom: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		border: 1px solid #9AB4C1;
		border-radius: 25px;
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 0.08em;
		width: 210px;
		height: 48px;
		color: #000C31;
		@include to(992px){
			width: 186px;
			height: 40px;
			margin-bottom: 55px;
			font-size: 12px;
		}
		
	}
	&__link{
		text-decoration: none;
		display: flex;
		align-items: center;
					@include to(700px) {
						display: none;
					}
		svg{
			fill: none;
			width: 40px;
			height: 40px;
			margin-right: 26px;
		}
		span{
			font-weight: 500;
			font-size: 15px;
			letter-spacing: 0.08em;

			color: #C11426;
		}
	}
	&__img{
		max-width: 455px;
		width: 100%;
		@include to(700px){
			max-width: none;
			padding-right: 10px;
			margin-bottom: 20px;

		}
		img{
			height: 100%;
			object-fit: cover;
		}
	}
}
.tablet--hiddenn{
	@include from(701px){
		display: none;
	}
	
}
.all-advice{
	margin-left: 0;
	width: calc(100% + 20px);
	height: 90px;
	background: #C11426;
	margin-left: -10px;
	display: flex;
	align-items: center;
	justify-content: center;

	.link-arrow-type__text {

		font-size: 14px;
	}

}
	.home-advice-sl-content{
		max-width: 405px;
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		@include to(992px){
			max-width: 55%;
			padding: 0 60px 15px 20px;
			
		}
		@include to(700px){
			padding: 0 10px 15px 0px;
			width: 100%;
			max-width: none;
		}
	}
.home-advice-sl-wrap{
	flex-grow: 1;
	min-width: 0;
}


.home-open-sec-list{
	li:nth-child(1){
		height: 392px;
		@include size(7);
		@include to(992px){
			height: 256px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(2){
		margin-top: auto;
		height: 312px;
		@include size(5);
		@include to(992px){
			height: 175px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(3){
		@include size(4);
		height: 350px;
		@include to(992px){
			height: 228px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(4){
		height: 350px;
		@include size(4);
		@include to(992px){
			height: 228px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(5){
		height: 350px;
		@include size(4);
		@include to(992px){
			height: 228px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(6){
		height: 265px;
		@include size(7);
		@include to(992px){
			height: 175px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(7){
		height: 265px;
		@include size(5);
		@include to(992px){
			height: 175px;
			display: flex;
			justify-content: center;
		}
		@include to(700px){
			@include size(12);
			height: 90px;
			a{
				margin-left: 0;
				margin-right: 0;
			}
		}
		background: #17315B;
		a{
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			span{
				white-space: break-spaces;
				max-width: 125px;
			}
		}
	}
	li{
		position: relative;
		@include col();
		margin-bottom: 20px;

	}
}
.home-open-sec__title{
	padding-top: 105px;
	padding-bottom: 65px;
	max-width: 445px;
	font-weight: bold;
	font-size: 45px;
	line-height: lh(55, 45);
	/* блэк */
	
	color: #000C31;
	@include to(992px){
		padding-top: 85px;
		padding-bottom: 25px;
		font-size: 32px;
	}
	@include to(700px){
		padding-top: 50px;
		br{
			display: none;
		}
	}
}
.home-open-sec-item__img2{
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	width: 228px;
	height: 253px;
	@include to(992px){
		width: 175px;
		height: 175px;
	}
	img{
		height: 100%;
		object-fit: contain;
	}
}
.home-open-sec-item{
	height: 100%;
	padding: 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	overflow: hidden;
	@include to(992px){
		padding: 20px;
	}
	&:hover{
		.home-open-sec-item__overlay::before{
			transform: scale(1);
		}
		.home-open-sec-item__overlay{
			opacity: 1;
			visibility: visible;
		}
		.home-open-sec-item__btn{
			background: #C11426;
			border: 1px solid #C11426;
		}
		.home-open-sec-item__text{
			padding-bottom: 0;
			opacity: 1;
			visibility: visible;
		}
		.home-open-sec-item__img img{
			transform: scale(1.15);
		}
	}
	&__img{
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img{
			transition: all 0.3s;
			object-fit: cover;
			height: 100%;
		}
	}
	&__title{
		z-index: 5;
		font-weight: 500;
		font-size: 18px;
		line-height: lh(24, 18);
		text-align: center;
		color: #FBFBFB;
		@include to(992px){
			font-size: 14px;
		}
	}
	&__btn{
		z-index: 5;
		width: 100%;
		max-width: 210px;
		height: 43px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #F0F1F8;
		border-radius: 25px;
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 0.08em;
		transition: all 0.3s;
		color: #FBFBFB;
		@include to(992px){
			max-width: 186px;
			width: 100%;
			height: 40px;
			font-size: 12px;
		}
	}
	&__text{
		opacity: 0;
		padding-bottom: 15px;
		max-width: 281px;
		margin-top: auto;
		text-align: center;
		z-index: 5;
		margin-bottom: 20px;
		font-size: 12px;
		line-height: vh(22,12);
		transition: all 0.3s;
		color: #9AB4C1;
		@include to(992px){
			display: none;
		}
	}
	&__overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(33, 49, 75, 0.7);
		backdrop-filter: blur(20px);
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		&::before{
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			display: flex;
			content: "";
			margin: 10px;
			border: 1px solid #9AB4C1;
			opacity: 0.5;
			pointer-events: none;
			transform: scale(1.1);
			transition: all 0.3s;
		}
	}
	
}
