@keyframes button{
	0%{
		transform: scale(1);
		background-color: rgba(193, 20, 38, .5);
	}
	100%{
		transform: scale(1.4);
		background-color: rgba(193, 20, 38, 0);
	}
}
@keyframes button-white{
	0%{
		transform: scale(1);
		background-color: rgba(255, 255, 255, .5);
	}
	100%{
		transform: scale(1.4);
		background-color: rgba(255, 255, 255, 0);
	}
}
.section-slaider-wrap .slick-initialized .slick-slide {
	display: flex;
}
.section-slaider{
	position: relative;
	overflow: hidden;
	&__item{
		height: 750px;
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 100%;
		// height: 100%;
		display: flex;
		flex-wrap: wrap;
		@include to(992px){
			height: 512px;
		}
		@include to(700px){
			height: 100%;
			min-height: 512px;
		}
		@include to(700px){
			flex-wrap: nowrap;
		}
		.wrap{
			display: flex;
			flex-direction: column;
		}
	}
}


// .js-animation{
// 	.section-slaider__item:nth-child(1){
// 		.img-overlay{
// 			transform: translate(0, -100%);
// 		}
// 		.slide-content-1{
// 			opacity: 0;
// 			height: 100%;
// 		}
// 		.slide-content-2{
// 			opacity: 0;
// 			transform: translateY(100%);
// 		}
// 	}
// 	.slider-breadcrumds-list li{
// 		opacity: 0;
// 		transform: translateX(-30%);
// 	}
// 	.slide-content__bucket{
// 		opacity: 0;
// 		transform: translateY(15%);
// 	}
// 	.word-animate{
// 		transform: translateY(-100%);
// 	}
// 	.slide-content__text, .slide-content__btn{
// 		opacity: 0;
// 		transform: translateY(-50%);
// 	}
// }
















.section-slaider__item:nth-child(1){
	flex-direction: row;
	z-index: 3;
	@include to(700px){
		margin-top: 0;
	}
	.wrap{
		width: 43.3%;
		overflow: hidden;
				@include to(700px) {
					display: none;
				}
	}
	
	.img-overlay{
		
		transform-origin: top;
	}
	.slide-content-3{
		position: relative;
		padding: 4.1% 5.5%;
		width: 56.7%;
		height: 100%;
		@include to(700px){
			padding: 37px 10px;
			width: 100%;
			height: 100%;
			min-height: 512px;
		}
	}
	.slide-content-1{
		
		width: 100%;
		position: relative;
		padding: 13.5% 9%;
		height: 65.9%;
		background-color: #C11426;
		transform-origin: right;
	}

	.slide-content-2{
		
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34.1%;
		background-color: $wc;
		background-color: #ccc;
		@include to(700px) {
			display: none;
		}
	}
	
}

.slide-content__counter-mob:not(#J){
	display: flex;
	align-items: center;
	position: absolute;
	font-weight: 500;
	font-size: 10px;
	line-height: 28px;
	text-transform: uppercase;
	top: 15px;
	right: 10px;
	color: #F0F1F8;
	@include from(701px){
		display: none;
	}
}
.section-slaider__item:nth-child(2){
	
	// flex-direction: row-reverse;
	z-index: 2;
	@include to(700px){
		flex-direction: column-reverse;
		min-height: 300px;
	}
	.wrap{
		width: 43.3%;
		@include to(700px){
			width: 100%;
			height: 100%;
		}
	}
	.second-slide-content__3{
		background-color: $mc2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		padding-bottom: 50px;
		@include to(992px){
			justify-content: center;
		}
	}
	.slide-content-3{
		position: relative;
		margin-right: auto;
		padding: 4.1% 5.5%;
		width: 56.7%;
		@include to(700px){
			width: 100%;
			padding: 70px 10px;
		}
	}
	.slide-content-1{
		position: relative;
		padding: 13.5% 9%;
		height: 65.9%;
		@include to(700px){
			display: none;
		}
	}
	.slide-content-2{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34.1%;
		background-color: $wc;
		@include to(700px) {
			display: none;
		}
	}
}
.section-slaider__item:nth-child(3){

	flex-direction: row;
	z-index: 1;
	min-height: 300px;
	.wrap{
		width: 43.3%;
		@include to(700px){
			display: none;
		}
	}

	.slide-content-1{
		position: relative;
		padding: 13.5% 9%;
		height: 65.9%;
		background-color: #9AB4C1;
	}
	.slide-content-2{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 34.1%;
		background-color: $wc;
		@include to(700px) {
			display: none;
		}
	}
	.slide-content-3{
		position: relative;
		
		width: 56.7%;
		height: 100%;
		padding: 4.1% 5.5%;
		@include to(700px){
			width: 100%;
			min-height: 412px;
			padding: 50px 10px;
		}
	}
}

.img-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
	&__bg{
		height: 100%;
		object-fit: cover;
	}
}
	
.slide-content{
	&__title{
		margin-top: 40px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		color: $wc;
		line-height: 1.1em;
		@include to(992px){
			margin-top: 0;
			font-size: 32px;
			margin-bottom: 6px;
		}
		@include to(700px){
			font-size: 22px;
			margin-bottom: 12px;
			font-weight: 400;
		}
	}
	&__text{
		margin-bottom: 55px;
		max-width: 380px;
		width: 100%;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 1.6em;
		color: #F0F1F8;
		@include to(992px){
			font-size: 12px;
			margin-bottom: 40px;
		}
		@include to(700px){
			max-width: 290px;
		}
	}
	&__bucket{
		

		
		position: absolute;
		top: 150px;
		right: 0;
    z-index: 10;
    width: 100%;
		max-width: 263px;
		@include to(992px){
			top: auto;
			bottom: 30px;
			right: 50%;
			transform: translateX(50%);
			max-width: 160px;
		}
	}

	&__counter{
		display: flex;
		align-items: center;
		span{

			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			color: #586386;
			opacity: 0.1;
			@include to(992px){
				font-size: 50px;
			}
		}
	}
}


.slide-content__btn{
	display: flex;
	width: 220px;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.08em;
	color: #FBFBFB;
	border: 1px solid #9AB4C1;
	border-radius: 50px;
	text-decoration: none;
	transition: all 0.3s;
	&:hover{
		color: #9AB4C1;
		background-color: #FBFBFB; 
	}
	@include to(992px){
		font-size: 12px;
		width: 186px;
		height: 40px;
	}
	@include to(700px){
		max-width: 290px;
		width: 100%;
	}
	@include to(470px){
		max-width: 100%;
		height: 50px;
		font-size: 14px;
	}
}

.slider-breadcrumds-list{
	position: absolute;
	top: 79px;
	left: 45px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include to(992px){
		top: 30px;
		left: 20px;
	}
	@include to(700px) {
		display: none;
	}
}
.second-slide-content__3 .slide-content__bucket{
	top: 0px;
	right: 0px;
	max-width: 371px;
	@include to(992px){
		display: none;
	}
}
.second-slide-home .slide-content__bucket {

	max-width: 471px;
}
.third-slide-content__1 .slide-content__bucket {
	top: 130px;
	right: -40px;
	max-width: 420px;
	@include to(992px){
		top: auto;
		bottom: -50px;
		max-width: 250px;
		right: 50%;
		transform: translateX(50%);
	}
}
.js-animation .slider-breadcrumds-list li{
	opacity: 0;
	transform: translateX(-30%);
}
.slider-breadcrumds-item{
	margin-bottom: 10px;
	height: 28px;
	font-size: 14px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	color: #fff;
	opacity: 0.4;
	&:hover{
		cursor: pointer;
	}
	@include to(992px){
		font-size: 12px;
		margin-bottom: 0;
	}
}

.slider-breadcrumds-item.slider-breadcrumds-item--active{
	font-weight: bold;
	color: $wc;
	opacity: 1;
}

.word-wrapper{
	overflow: hidden;
}

span.word-animate{
	display: flex;
}

.section-slaider span{
	display: flex;
}

.slide-content__counter span{
	line-height: 1em;
}

.slide-content__counter{
	width: 100%;
	height: 100%;
	justify-content: center;
	background: #F6F7FC;
}

.slide-content-1,.slide-content-2{
	width: 100%;
}

.section-slaider__item.section-slaider__item--hidden{
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}



.brd{
	border: 1px solid red;
}
.main-section-sl{
	.main-slide{
		display: flex;
		height: calc(100vh - 66px);
		@include to(768px){
			flex-direction: column-reverse;
		}
		@include to(700px){
			height: calc(100vh - 42px);
		}
	}
	.main-slide__slide-bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		@include to(768px){
			display: none;
		}
	}
	.main-slide__slide-bg_mob{
		display: none;
		@include to(768px){
			display: block;
		}
	}	
}
.main-slide{
	&__left, &__right{
		flex-basis: 50%;
		position: relative;
	}
	&__left{
		@include to(768px){
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;

		}
	}
	&__right{
		@include to(768px){
			flex-basis: 340px;
		}
		@include to(480px){
			flex-basis: 25%;
			flex-shrink: 0;
		}
	}
	&__left-bottom{
		position: absolute;
		width: 100%;
		height: 30%;
		background: #E0E5EB;
		bottom: 0;
		left: 0;
		@include to(768px){
			height: 42%;
		}
	}
	&__title{
		font-size: 65px;
		max-width: 760px;
		@include to(1440px){
			font-size: 45px;
			margin-bottom: 20px;
			max-width: 505px;
		}
		@include to(480px){
			font-size: 25px;
			max-width: 292px;
			margin-bottom: 10px;
		}
		
		line-height: 1.1em;
		color: #17315B;
		font-weight: bold;
		margin-bottom: 30px;
	}
	&__subtitle{
		font-size: 24px;
		margin-bottom: 60px;
		max-width: 450px;
		font-weight: 500;
		color: #586386;
		line-height: 1.42em;
		@include to(1440px){
			font-size: 18px;
			margin-bottom: 45px;
			max-width: 320px;
			line-height: 1.3em;
		}
		@include to(768px){
			max-width: 538px;
		}
		@include to(480px){
			font-size: 14px;
			max-width: 242px;
		}
		
	}
	&__text-wrapper{	
		margin: 130px 0 0 11%;
		position: relative;
		z-index: 2;
		@include to(1440px){
			margin: 75px 0 0 11%;
		}
		@include to(768px){
			margin-top: 40px;
			text-align: center;
			margin-left: 0;
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		@include to(480px){
			margin-top: 10px;
		}
	}
	&__paints{
		position: absolute;
		z-index: 2;
		bottom: 65px;
		right: 0;
		transform: translateX(50%);
		width: 45vw;
		min-width: 192px;
		max-width: 835px;
		@include to(768px){
			position: static;
			transform: none;
			margin-bottom: 120px;
		}
		&_single-can{
			max-width: 475px; 
			width: 25vw;
			min-width: 115px;
		}
		&_mob{
			display: none;
			@include to(768px){
				display: block;
				max-width: 350px;
				width: 45vw;
			}
		}
	}
	&__slide-bg{
		// position: absolute;
		// left: 0;
		// top: 0;
		// width: 100%;
		// height: 100%;
		// object-fit: cover;
		// @include to(768px){
		// 	display: none;
		// }
		// &_mob{
		// 	display: none;
		// 	@include to(768px){
		// 		display: block;
		// 	}
		// }
	}
	&__btn{
		display: flex;
		align-items: center;
		text-decoration: none;
		&:hover{
			span{
				&::before{
					opacity: 1;
					bottom: 0;
				}
			}
		}
		@include to(768px){
			display: none;
		}
		&_mob{
			display: none;
			.main-slide__btn-circle-in{
				background: #F6F7FC;
			}
			.main-slide__btn-circle-out{
				background: rgba(246, 247, 252, 0.5);
				border-color: transparent;
			}
			span{
				color: #F6F7FC;
			}
			@include to(768px){
				position: absolute;
				bottom: 0;
				z-index: 2;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100px;
				&::after{
					content: '';
					display: block;
					width: 100%;
					height: 100px;
					background-color: #17315B;
					position: absolute;
					z-index: -1;
					@include to(480px){
						height: 72px;
					}
				}
			}
			@include to(480px){
				height: 72px;
			}
		}

		&_red{
			span{
				&:before{
					background: #C11426;
				}
			}
			.main-slide__btn-circle-out{
				border-color: #9AB4C1;
			}
			&:hover{
				.main-slide__btn-circle-out{
					background: #C11426;
					border-color:  #C11426;
				}
			}
			
		}
		&_blue{
			span{
				&:before{
					background: #17315B;
				}
			}
			.main-slide__btn-circle-out{
				border-color: #F6F7FC;
			}
			&:hover{
				.main-slide__btn-circle-out{
					background: #17315B;
					border-color:  #17315B;
				}
			}
		}
		&_white{
			span{
				&:before{
					background :#F6F7FC;
				}
			}
			.main-slide__btn-circle-out{
				border-color: #9AB4C1;
			}
			&:hover{
				.main-slide__btn-circle-out{
					background: #F6F7FC;
					border-color:  #F6F7FC;
				}
			}
		}
		&_blue-red{
			span{
				&:before{
					background: #C11426;
				}
			}
			.main-slide__btn-circle-out{
				border-color: #9AB4C1;
			}
			&:hover{
				.main-slide__btn-circle-out{
					background: #17315B;
					border-color:  #17315B;
				}
			}
		}
		&-circle-out, &-circle-in{
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&-circle-out{
			border: 1px solid #9AB4C1;
			width: 46px;
			height: 46px;
			transition: all 0.5s;
			@include to(1440px){
				width: 40px;
				height: 40px;
			}
			
		}
		&-circle-in{
			border: 1px solid transparent;
			width: 32px;
			height: 32px;
			@include to(1440px){
				width: 28px;
				height: 28px;
			}
		}
		span{
			font-size: 18px;
			line-height: 1.3em;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				display: block;
				width: 100%;
				bottom: -20px;
				transition: all 0.5s;
				opacity: 0;
			}
			@include to(1440px){
				font-size: 15px;
				line-height: 1.6em;
			}
			@include to(480px){
				font-size: 14px;
			}
			margin-left: 25px;
			font-weight: 500;

			letter-spacing: 0.08em;
	
		}
	}
	&__discount{
		max-width: 200px;
		margin-top: 100px;
		margin-bottom: 60px;
		@include to(1440px){
			margin-top: 80px;
			margin-bottom: 40px;
			max-width: 135px;
		}
		@include to(768px){
			margin-top: 0;
		}
		@include to(480px){
			max-width: 90px;
			margin-bottom: 10px;
		}
	}
	&__adv{
		max-width: 400px;
		@include to(1440px){
			max-width: 200px;
		}
		@include to(480px){
			max-width: 120px;
		}
	}
	&__discounts-can{
		margin-left: 11%;
		@include to(768px){
			display: flex;
		}
	}
	&--2{
		.main-slide__paints{
			width: 65vw;
			max-width: 1136px;
		}
		.main-slide__text-wrapper{
			max-width:763px;
		}
		.scroll-icon{
			&__text{
				color: #F0F1F8;
			}
		}
	}
	&--5{
		.header-phone__icon{
			fill: #9AB4C1;
		}
	}



}
.scroll-icon{
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 30px;
	left: 100px;
	&__text{
		font-size: 10px;
		line-height: 1.5em;
		color: #586386;
		text-transform: uppercase;
		max-width: 70px;
		margin-left: 10px;
		@include from(1441px){
			font-size: 12px;
		}
	}
	@include from(1441px){
		bottom: 70px;
	}
	@include to(768px){
		display: none;
	}
}
.main-section-sl-1__btn{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 384px;
	height: 117px;
	background: #17315B;
	@include to(992px){
		width: min(vw(450), 450px);
		height: 100px;
	}
	@include to(768px){
		width: 50%;
		height: 117px;

	}
}
.main-section-sl-1-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	@include to(700px){
		width: 100%;
		height: 72px;
	}
	.main-section-sl-1-btn__text{
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 0.08em;
		color: #F6F7FC;
		@include to(768px){
			font-size: 14px;
		}
	}
	.main-section-sl-1-btn__icon{
		width: 40px;
		height: 40px;
		margin-right: 26px;
	}
}
.main-section-sl-1__main-img{
	// width: 1111px;
	// height: 684px;
	// @include to(1280px){
	// 	height: 600px;
	// }
	// @include to(768px){
	// 	width: 768px;
	// 	height: calc(1024px - var(--header_h));
	// }
	// @include to(700px){
	// 	width: 100vw;
	// 	height: calc(100vh - var(--header_h));
	// 	img{
	// 		height: 100%;
	// 		object-fit: cover;
	// 	}
	// }
}
.main-section-sl-1__main-img-2{
	position: absolute;
	left: calc(38px + var(--sidebar_w));
	bottom: 70px;
	width: 538px;
	height: 243px;
	@include to(1280px){
		
		bottom: min(vw(30), 30px);
	}
	@include to(1200px){
		width: min(vw(538), 538px);
		height: min(vw(243), 243px);
	}
	@include to(768px){
		transform: translateX(-50%);
		left: 50%;
		width: 65%;
		height: auto;
		bottom: 95px;
		z-index: 3;
	}
	@include to(576px){
		width: 90%;
	}
}



.main-section{
	// padding-top: var(--header_h);
	padding-left: var(--sidebar_w);
	position: relative;
	// height: calc(100vh - var(--header_h));
	margin: 0 auto;
	overflow: hidden;
	height: calc(100vh - 66px);
	margin-top: 66px;
	// @include to(1200px){
	// 	padding-left: 0;
	// }
	@include to(700px){
		margin-top: 42px;
		height: calc(100vh - 42px);
	}
	@include to(480px){
		padding-left: 0;
	}
}

.main-section-sl-wrap{
	position: absolute;
	top: calc(108px + var(--header_h));
	left: calc(38px);
	display: flex;
	flex-direction: column;
	@include to(1200px){
		top: 90px;
	}
	@include to(768px){
		top: calc(138px + var(--header_h));
	}
	@include to(576px){
		left: calc(10px + var(--sidebar_w));
		top: calc(48px + var(--header_h));

	}
	
}
.mouse-tip--gray{

	fill: #9AB4C1;
}
.mouse-tip--white{

	fill: #F0F1F8;
}
.mouse-tip{
	position: absolute;
	bottom: 30px;
	left: calc(50px);
	display: flex;
	align-items: center;
	@include to(1280px){
		bottom: 10px;
	}
	@include to(700px){
		display: none;
	}
	&__icon{
		margin-right: 15px;
		width: 17px;
		height: 26px;
	}
	&__text{
		width: 70px;
		height: 30px;
		font-size: 10px;
		line-height: lh(15, 10);
		text-transform: uppercase;

		color: #586386;
	}
}
.hot-line--darken {

	.hot-line__text{
		color: #9AB4C1;
	}
	svg{
		fill: #C11426;
	}
} 
.hot-line--white{

	.hot-line__text {
		color: #F0F1F8;
	}
	svg{
		fill: #9AB4C1; 
	}
}
.hot-line{
	position: absolute;
	top: 40px;
	right: 45px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@include to(576px){
		display: none;
	}
	.header-phone__icon{
		@include from(1441px){
			width: 17px;
			height: 17px;
			margin-right: 15px;
		}

	}
	&__text{
		font-size: 12px;
		line-height: 22px;
		@include from(1441px){
			font-size: 14px;
			margin-bottom: 5px;
		}
	}
	.header__text{
		font-weight: 500;
		font-size: 18px;
		line-height: lh(24, 18);
		
		color: #17315B;
		@include from(1441px){
			font-size: 24px;
			line-height: 1em;
		}
	}
}


.main-section-sl__title,
.main-section-sl__subtitle {
	max-width: 555px;
}
.main-section-sl--mob{
	height: 100vh;
}
.main-section-sl__title {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: min(vw(60), 60px);
	line-height: lh(65, 60);
	color: #17315B;
	@include to(768px){
		font-size: 50px;
	}
	@include to(700px){
		margin-bottom: 10px;
		font-size: 28px;
	}
}

.main-section-sl__subtitle {
	padding-right: 35%;
	font-weight: 500;
	font-size: 18px;
	line-height: lh(24, 18);
	color: #586386;
	@include to(700px){
		font-size: 14px;
	}
}




.main-section-navbar {
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: var(--sidebar_w);
	// height: calc(100% - var(--header_h));
	height: 100%;
	background: #F6F7FC;
	@include to(480px){
		background: transparent;
		z-index: 2;
		height: auto;
		bottom: 100px;
		right: 0;
		left: auto;
		.main-section-dots-wrapper{
			display: none;
		}
	}
}

.slider-btn{
	display: flex;
	width: 50px;
	height: 50px;
	margin: 12.5px 0;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #FBFBFB;
	box-shadow: 15px 4px 35px rgba(188, 190, 195, 0.3);
	transition: all 0.3s;
	&:hover{
		
		transform: scale(0.8);
		
	}
	@include to(992px){
		width: 40px;
		height: 40px;
	}
	@include to(700px){
		width: 34px;
		height: 34px;
		margin: 6px 0;
	}
	svg{
		@include from(1441px){
			width: 18px;
			height: 10px;
		}
		width: 16px;
		height: 7px;
		transition: all 0.3s;
	}
	
}


.main-section {

	.slick-dots {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		
		padding-top: 15px;
		padding-bottom: 75px;
		li {
			margin: 0 8px;
		}

		button {
			padding: 0;

			width: 5px;
			height: 5px;
			min-width: 5px;
			min-height: 5px;
			border-radius: 50%;
			background: #9A959E;
			border: none;
			opacity: 0.5;
			font-size: 0;
			transition: all 0.3s;
			
		}
		
		li.slick-active button {
			width: 10px;
			height: 10px;
			min-width: 10px;
			min-height: 10px;
			background-color: transparent;
			border: 1px solid #17315B;
			border-radius: 50%;
			opacity: 1;
		}
	}
	.current-slick{
		display: flex;
		align-items: center;
		span{
			font-weight: 500;
			font-size: 16px;
			line-height: lh(16,24);
			color: #C11426;
			@include to(480px){
				color: #000C31;
				font-size: 10px;
				line-height: 2.8em;
				margin-bottom: 5px;
			}
		}
	}
}

/**********************************/
/*
* page items start
*/

.page-container{
	margin: 0 auto;
	max-width: 1200px;
	padding-left: 30px;
	padding-right: 30px;
	@include from(1441px){
		max-width: 1600px;
	}
	@include to(700px){
		padding-left: 10px;
		padding-right: 10px;

	}

}
.page-list{
	padding-top: 80px;
	padding-bottom: 120px;
	padding-left: 160px;
	padding-right: 160px;
	@include to(1440px){
		padding-top: 60px;
		padding-bottom: 100px;
		padding-left: 0px;
		padding-right: 0px;
	}
	@include to(992px){
		padding-top: 30px;
		padding-bottom: 90px;
	}
	@include to(700px){
		padding-bottom: 30px;
	}
}
.discounts	.row{
		padding-top: 60px;
		padding-bottom: 90px;
		@include to(992px){
			padding-top: 37px;
			padding-bottom: 58px;
			
		}
		@include to(700px){
			padding-top: 57px;
			padding-bottom: 68px;
			width: 100%;
			flex-wrap: nowrap;
		}
	}

.page-list-item{
	@include col();
	@include size(3);
	@include to(700px){
		@include size(6);
		margin-bottom: 20px;
	}
}
.discounts.bg-overlay::after{
	@include to(700px){
		display: none;
	}
}
.page-list-item {
	&:nth-child(1) svg {
		width: 80px;
		height: 105px;
		@include to(1440px){
			width: 70px;
			height: 95px;
		}
		@include to(992px){
			width: 43px;
			height: 57px;
		}
		@include to(700px){
			width: 59px;
			height: 79px;
		}
	}
	&:nth-child(2) svg {
		width: 68px;
		height: 100px;
		@include to(1440px){
			width: 61px;
			height: 90px;
		}
		@include to(992px){
			width: 36px;
			height: 53px;
		}
		@include to(700px){
			width: 50px;
			height: 73px;
		}
	}
	&:nth-child(3) svg {
		width: 87px;
		height: 105px;
		@include to(1440px){
			width: 77px;
			height: 95px;
		}
		@include to(992px){
			width: 46px;
			height: 57px;
		}
		@include to(700px){
			width: 64px;
			height: 78px;
		}
	}
	&:nth-child(4) svg {
		width: 58px;
		height: 105px;
		@include to(1440px){
			width: 55px;
			height: 95px;
		}
		@include to(992px){
			width: 31px;
			height: 56px;
		}
		@include to(700px){
			width: 43px;
			height: 78px;
		}
	}

	a,
	.page-list-item-btn {
		padding: 38px 26px 38px;
		min-height: 400px;
		display: flex;
		flex-direction: column;
		background: #FFFFFF;
		box-shadow: 0px 15px 35px rgba(154, 180, 193, 0.3);
		align-items: center;
		transition: all 0.3s;
		text-decoration: none;
		@include to(1440px){
			min-height: 360px;
			padding: 40px 16% 30px;
		}
		@include to(992px){
			padding: 28px 15px 30px;
			min-height: 233px;
		}
		@include to(700px){
			padding: 20px 6px 25px;
		}
		&:hover{
			cursor: pointer;
			transform: scale(1.05);
			.page-list-item__btn{
				background-color: #C11426;
				color: #F6F7FC;
				border: 1px solid #C11426;
			}
		}
	}
	&__title{
		display: flex;
		text-align: center;
		justify-content: center;
		font-weight: 500;
		font-size: 24px;
		line-height: lh(24, 18);
		color: #000C31;
		display: flex;
		max-width: 185px;
		color: #292C35;
		@include to(1440px){
			font-size: 18px;
			max-width: 100%;
		}
		@include to(992px){
			font-size: 14px;
		}
		@include to(700px){
			font-size: 16px;
		}
	}
	&__img{
		margin-top: auto;
		margin-bottom: auto;
		max-width: 90px;
	}
	&__btn{
		width: 100%;
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: 18px;
		line-height: lh(24, 15);
		letter-spacing: 0.08em;
		border: 1px solid #9AB4C1;
		border-radius: 50px;
		color: #000C31;
		transition: all 0.3s;
		@include to(1440px){
			font-size: 15px;
			height: 40px;
		}
		@include to(992px){
			font-size: 12px;
			height: 36px;
		}
		@include to(700px){
			display: none;
		}
	}
}



/*
* page items end
*/
/**********************************/


/**********************************/
/*
* .discounts start
*/
.section-navbar{
	margin: 0 0 0 10px;
	z-index: 2;
	padding: 0px 8.7% 0px 0px;
	display: flex;
	@include from(1441px){
		padding-right: 106px;
	}
	@include to(992px){
		padding: 0px 7% 0px 0px;
	}
	@include to(700px){
		padding: 0px 0px 0px 0px;
		
	}
}
.bg-overlay{

	position: relative;
	&::after{
		position: absolute;
		top: 0;
		right: 0;
		width: 35%;
		height: 100%;
		display: flex;
		content: "";
		background: #C11426;
		z-index: 0;
		@include from(1440px){
			width: 39%;
		}
		@include from(1920px){
			width: 40%;
		}
		@include to(700px){
			display: none;
		}
	}
}
	.discounts{
		position: relative;
		background: #F6F7FC;
		@include to(700px){
			width: 100%;
			.page-container{
				width: 100%;
			}
		}
		&-navbar{
			flex-direction: column;
			justify-content: space-between;
			@include to(700px){
				justify-content: flex-start;
			}
		}
		.slick-list {
			overflow: visible;
		}
	}
.discounts-navbar-content__counter {
	display: flex;
	align-items: center;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	color: #C11426;
	font-weight: 700;
	@include to(700px){
		transform: translateY(-200%);
	}
}
.section-note{
	display: flex;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
	color: #C11426;
	white-space: nowrap;
	font-weight: 700;
	@include from( 1441px){
		font-size: 14px;
	}
	
}
.section-subnote{
	min-width: 150px;
	font-size: 12px;
	line-height: 1.4em;
	color: #9AB4C1;
	@include from(1441px){
		font-size: 16px;
		margin-top: 7px;
	}
}
.discounts-navbar-btn-wrap{
	display: flex;
	flex-direction: column;
	margin-bottom: -12.5px;
	@include to(700px){
		padding-top: 120px;
	}
}
.discounts-slider-conent{

	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	max-width: 43%;
	@include to(992px){
		max-width: 50%;
	}
	@include to(700px){
		max-width: none;
		width: calc(100vw - 89px);
		overflow: hidden;
	}
}
.discounts-conent{
	&__img{
		position: absolute;
		top: 0;
		right: 0;
		width: 110%;
		padding-top: 110%;
		transform: translate(77%, -60px);
		z-index: -1;
		@include from(1441px){
			width: 763px;
			padding-top: 632px;
			transform: translate(91%, -60px);
		}
		@include to(992px){
			max-width: min(vw(457), 457px);
			padding-top: min(vw(517), 517px);
			height:  calc(100% - 78px);
			width: 100%;
			transform: translate(65%, -37px);
		}
		@include to(700px){
			position: static;
			width: 100%;
			padding-top: 100%;
			max-width: none;
			transform: translate(0, 0);
		}
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		padding-top: 45px;
		margin-bottom: 15px;
		font-weight: bold;
		font-size: 45px;
		line-height: lh(55, 45);

		color: #000C31;
		z-index: 4;
		@include from(1441px){
			margin-bottom: 25px;
			max-width: 490px;
		}
		@include to(992px){
			font-size: 32px;
			margin-bottom: 11px;
		}
		@include to(700px){
			padding-top: 20px;
			margin-bottom: 7px;
			font-weight: 400;
			font-size: 22px;
		}
	}
	&__text{
		padding-right: 50%;
		margin-bottom: 50px;
		font-size: 12px;
		line-height: lh(22,12);

		color: #586386;
		z-index: 4;
		@include from(1441px){
			font-size: 16px;
			line-height: 1.6em;
		}
		@include to(992px){
			margin-bottom: 40px;
			padding-right: 35%;
		}
		@include to(700px){
			margin-bottom: 30px;
			padding-right: 0;
		}
	}
	&__btn{
		width: 210px;
		height: 48px;
		font-weight: 500;
		font-size: 15px;
		line-height: 24px;
		border: 1px solid #9AB4C1;
		border-radius: 50px;
		display: flex;
		text-decoration: none;
		justify-content: center;
		align-items: center;
		text-align: center;
		letter-spacing: 0.08em;
		color: #000C31;
		z-index: 4;
		transition: all 0.3s;
		&:hover{
			border: 1px solid #C11426;
			background: #C11426;
			color: #fff;
		}
		@include from(1441px){
			width: 232px;
			height: 54px;
			font-size: 18px;
			line-height: 24px;

		}
		@include to(900px){
			width: 186px;
			height: 40px;
			font-size: 12px;
		}
		@include to(700px){
				width: 210px;
				height: 48px;
			font-size: 15px;
		}
	}
}

.link-arrow-type {
	display: flex;
	align-items: center;
	text-decoration: none;
	&:hover{
		svg{
			// transform: translateX(15px)
			fill: #fff;
			stroke: #fff;
		}
		span{
			&::before{
				opacity: 1;
				bottom: 0;
			}
		}
		.circle-btn{
			background-color: rgba(193, 20, 38, .5);
			border-color: transparent;
			animation: button linear 1.5s infinite 0s ;
			
		}
		.circle-btn-inner{
			background-color: #C11426;
			border-color: #C11426;
		}
	}
	
&__icon{
	margin-right: 26px;
	width: 40px;
	height: 40px;
	fill: none;
	transition: all 0.3s;
	@include to(992px){
		margin-right: 20px;
	}
}
&__text{
	font-weight: 500;
	font-size: 18px;
	line-height: lh(24, 15);
	letter-spacing: 0.08em;
	white-space: nowrap;
	color: #F6F7FC;
	transition: all 0.3s;
	position: relative;
	@include to(1440px){
		font-size: 15px;
	}
	&::before{
		content: '';
		height: 1px;
		width: 100%;
		background: #F6F7FC;
		display: block;
		position: absolute;
		left: 0;
		bottom: 20px;
		opacity: 0;
		transition: all 0.3s
	}

	@include to(992px){
		font-size: 12px;
	}
}
}
.container-section-slaider-wrap{
	max-width: 1200px;
	margin: 0 auto;
}



.sec-sl-btn-wrap{
	position: absolute;
	bottom: 50px;
	right: 50px;
	display: flex;
	align-items: center;
	@include to(992px){
		bottom: 25px;
		right: 25px;

	}
	@include to(700px){
		display: none;
	}
	button{
		margin: 0 5px;
		padding: 0;
		width: 50px;
		height: 50px;
		@include to(992px){
			width: 40px;
			height: 40px;

		}
		svg{
			width: 100%;
			height: 100%;
			fill: none;
		}
	}
}
.advice-navbar-btn-wrap button{
	box-shadow: 15px 4px 35px rgba(188, 190, 195, 0.3);
	box-shadow: 0px 13px 35px rgba(23, 49, 91, 0.2);
}
.item-maggin-bottom:not(#j){
	margin-bottom: 15px;
}
.home-news{
	background: #F0F1F8;
	@include to(700px){
		.section-navbar{
			margin: 0;
		}
	}
	.row{
		position: relative;
		padding-top: 120px;
		padding-bottom: 64px;
		@include from(1441px){
			padding-top: 93px;
			padding-bottom: 93px;
		}
		@include to(992px){
			padding-top: 33px;
			padding-bottom: 54px;
		}
		@include to(700px){
			flex-direction: column;
			margin-right: 0;
			margin-left: 0;
			padding-bottom: 0px;
		}
	}
	&__title{
		position: relative;
		max-width: 410px;
		font-weight: 500;
		font-size: 28px;
		line-height: lh(40, 28);
		display: inline-block;
		align-items: center;
		transition: all 0.3s;
		color: #000C31;
		text-decoration: none;
		@include from(1441px){
			font-size: 34px;
			line-height: 50px;
		}
		@include to(992px){
			font-size: 18px;
			max-width: 290px;
		}
		@include to(700px){
			max-width: none;
			margin-top: 12px;
			margin-bottom: 65px;
		}
		&:hover{
			cursor: pointer;
			color: #C11426;
			.home-news-title__btn {
				opacity: 1;
				transform: translate(200%, -50%);
			}
			span{

				background-image: linear-gradient(#C11426, #C11426);
			}
		}
		span{

			
			text-decoration: none;
			background-image: linear-gradient(#000C31, #000C31);
			background-position: 0% 100%;
			background-repeat: no-repeat;
			background-size: 100% 1.5px;
			transition: background-size .3s;
		}
	}
	&__link{
		z-index: 5;
		
		.link-arrow-type__text{
			&:before{
				display: none;
			}
		}
		&:hover{
			.circle-btn{
				background-color: rgba(255, 255, 255, .5);
				border-color: transparent;
				animation: button-white linear 1.5s infinite 0s ;
			}
			.circle-btn-inner{
				background-color: #fff;
				border-color: #fff;
			}
		}
	}
	.section-note{
		line-height: 40px;
	}
}
.home-news-title__btn{
	position: absolute;
	top: 50%;
	right: 0;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid #9AB4C1;
	opacity: 0;
	transform: translate(180%, -50%);
	transition: all 0.3s;
	@include from(1441px){
		width: 46px;
		height: 46px;
	}
	&-inner{
		@include from(1441px){
			width: 32px;
			height: 32px;
		}
		width: 28px;
		height: 28px;
		border: 0.333334px solid #17315B;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		svg{
			width: 10px;
			height: 6px;
		}
	}
}
.home-news .home-news__link-wrapepr{
	margin-left: auto;
    display: flex;
    align-items: flex-end;
	margin-right: 5%;
	@include to(700px){
		margin-left: 0;
		margin-right: 0;
	}
}	
.home-news .home-news__link {
	// margin-left: auto;
	// margin-right: 5%;
	.circle-btn{
		margin-right: 25px;
		border-color: #F8B3A4;
	}
	.circle-btn-inner{
		border-color: #F0F1F8;
	}
	svg{
		fill: #fff;
		stroke: #fff;
		
	}
	&:hover{
		svg{
			fill: #C11426;
			stroke: #C11426;
		}
		.circle-btn{
			border-color: transparent;
		}
	}
	@include to(1200px){
		position: absolute;
		top: 50%;
		right: 0;
		width: 35%;
		margin-left: 0;
		margin-right: 0;
		z-index: 5;
		display: flex;
		justify-content: center;
		// transform: translateY(-50%);
	}
	
	@include to(992px){
		margin-right: 0;
		width: 33%;
		justify-content: center;
		margin-right: -8px;
	}
	@include to(700px){
		position: relative;
		transform: translateY(0%);
		margin-left: 0;
		width: calc(100% + 20px);
		height: 90px;
		background: #C11426;
		margin-left: -10px;
		.link-arrow-type__text{

			font-size: 14px;
		}
	}
	svg{
		
	}
	
}


/*
* .discounts end
*/
/**********************************/

.home-advice{
	padding: 100px 0;
	overflow: hidden;
	@include from(1441px){
		padding: 120px 0;
	}
	@include to(992px){
		padding: 130px 0 100px;
		
	}
	@include to(700px){
		padding: 100px 0 0px;

	}
	.circle-btn-inner{
		border-color: #17315B;;
	}
	.row-row{
		display: flex;
		margin-left: -10px;
		margin-right: -10px;
	}
	.section-navbar{
		flex-direction: column;
		    padding: 0px 0% 0px 0px;
		@include to(992px){
			position: relative;
			padding-right: 20px;
		}
	}
	.advice-navbar-btn-wrap{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include to(700px){
			padding-top: 100px;
			justify-content: flex-start;
		}
	}
	.slick-initialized .slick-slide{
		display: flex;
	}
}

.section-note-wrap{
	display: flex;
	flex-direction: column;
	@include to(992px){
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-150%);
	}
}

.home-advice-sl{
	display: flex;
	align-items: center;
	min-width: 0;
	width: 100%;
	@include to(992px){
		align-items: stretch;
	}
	@include to(700px){
		flex-direction: column;
	}
	&__title{
		width: 515px;
		z-index: 6;
		display: flex;
		font-weight: bold;
		font-size: 45px;
		line-height: lh(55,45);
		margin-bottom: 15px;
		color: #000C31;
		transform: translateX(-100px);
		@include from(1441px){
			margin-bottom: 25px;
		}
		@include to(992px){
			margin-top: 25px;
			margin-bottom: 35px;
			width: 414px;
			font-size: 32px;
			margin-bottom: 11px;
			transform: translateX(-70px);
		}
		@include to(700px){
			margin-top: 0;
			width: auto;
			transform: translateX(0px);
			font-weight: 500;
			font-size: 22px;
			margin-bottom: 8px;
		}
	}
	&__text{
		font-size: 12px;
		line-height: lh(22,12);
		margin-bottom: 50px;
		color: #586386;
		@include from(1441px){
			font-size: 16px;
			line-height: 26px;
		}
		@include to(992px){
			margin-bottom: 40px;
		}
		@include to(700px){
			margin-bottom: 30px;
		}
	}
	&__btn{
		margin-bottom: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		border: 1px solid #9AB4C1;
		border-radius: 50px;
		font-weight: 500;
		font-size: 15px;
		letter-spacing: 0.08em;
		width: 210px;
		height: 48px;
		color: #000C31;
		transition: all 0.75s;
		&:hover{
			background-color: #C11426;
			color: #F6F7FC;
			border-color: #C11426;
		}
		@include from(1441px){
			width: 232px;
			height: 54px;
			font-size: 18px;
			margin-bottom: 100px;
		}
		@include to(992px){
			width: 186px;
			height: 40px;
			margin-bottom: 55px;
			font-size: 12px;
		}
		
	}
	&__link{
		text-decoration: none;
		display: flex;
		align-items: center;
		@include to(700px) {
			display: none;
		}
		svg{
			fill: #C11426;
			stroke: #C11426;
			transition: all 0.3s;
		}
		span{
			margin-left: 25px;
			font-weight: 500;
			font-size: 15px;
			letter-spacing: 0.08em;
			color: #C11426;
			position: relative;
			&::before{
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: #C11426;
				bottom: -20px;
				transition: all 0.3s;
				left: 0;
				opacity: 0;
			}
		}

	}
	&__img{
		max-width: 455px;
		width: 100%;
		height: 555px;
		@include from(1441px){
			height: 681px;
			max-width: 518px;
		}
		@include to(992px){
			height: 395px;
		}
		@include to(700px){
			max-width: none;
			padding-right: 10px;
			margin-bottom: 20px;
			height: 218px;

		}
		img{
			height: 100%;
			object-fit: cover;
		}
	}
}
.tablet--hiddenn{
	@include from(701px){
		display: none;
	}
	
}
.all-advice{
	margin-left: 0;
	width: calc(100% + 20px);
	height: 90px;
	background: #C11426;
	margin-left: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include from(701px){
		display: none;
	}
	.link-arrow-type__text {

		font-size: 14px;
	}

}
	.home-advice-sl-content{
		max-width: 405px;
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		@include from(1441px){
			max-width: 530px;
		}
		@include to(1024px){

			padding: 0 120px 15px 20px;
		}
		@include to(992px){
			max-width: 55%;
			padding: 0 120px 15px 20px;
			
		}
		@include to(700px){
			padding: 0 10px 15px 0px;
			width: 100%;
			max-width: none;
		}
	}
.home-advice-sl-wrap{
	flex-grow: 1;
	min-width: 0;
	@include from(1441px){
		margin-left: 130px;
	}
}

.advise-next-sl:not(#J) {
	position: absolute;
	top: 50%;
	right: 80px;
	width: 340px;
	height: 380px;
	object-fit: cover;
	transform: translate(100%, -50%);
	@include to(1024px){
		height: 267px;
		right: 60px;
	}
	@include to(700px){
		display: none;
		img{

			display: none;
		}
	}
}
.home-open-sec-list{
	@include from(1441px){
		padding: 0 160px;
	}
	li:nth-child(1){
		height: 436px;
		
		@include size(7);
		@include to(1440px){
			height: 392px;
		}
		@include to(992px){
			height: 256px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(2){
		margin-top: auto;
		height: 295px;
		@include size(5);
		@include to(1440px){
			height: 312px;
		}
		@include to(992px){
			height: 175px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(3){
		@include size(4);
		height: 388px;
		@include to(1440px){
			height: 350px;
		}
		@include to(992px){
			height: 228px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(4){
		@include size(4);
		height: 388px;
		@include to(1440px){
			height: 350px;
		}
		@include to(992px){
			height: 228px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(5){
		@include size(4);
		height: 388px;
		@include to(1440px){
			height: 350px;
		}
		@include to(992px){
			height: 228px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(6){
		height: 295px;
		@include size(7);
		@include to(1440px){
			height: 265px;
		}
		@include to(992px){
			height: 175px;
		}
		@include to(700px){
			@include size(12);
			height: 239px;
		}
	}
	li:nth-child(7){
		height: 295px;
		@include size(5);
		@include to(1440px){
			height: 265px;
		}
		@include to(992px){
			height: 175px;
			display: flex;
			justify-content: center;
		}
		@include to(700px){
			@include size(12);
			height: 90px;
			a{
				margin-left: 0;
				margin-right: 0;
			}
		}
		background: #17315B;
		display: flex;
		justify-content: center;
		&:hover{
			a span{
					text-decoration: none;
					background-image: linear-gradient(#F6F7FC, #F6F7FC);
					background-position: 0% 100%;
					background-repeat: no-repeat;
					background-size: 100% 1px;
					transition: background-size .3s;
			}
	
			.circle-btn {
				border: 1px solid transparent;
				background-color: #fff;

				&-inner {
					border: 1px solid #fff;
					background-color: #fff;
					svg{
						fill: #C11426;
						stroke: #C11426;
					}
				}
			}

		}
		a{
			display: inline-block;
			width: 250px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include to(1440px){
				width: 185px;
			}
			.circle-btn{
				margin-top: 8px;
				margin-right: 25px;
				float: left;
			}
			svg{
				transition: all 0.3s;
			}
			span{
				white-space: break-spaces;
				max-width: 125px;

				@include to(700px){
					font-size: 14px;
					font-weight: 400;
				}
			}
		}
	}
	li{
		position: relative;
		@include col();
		margin-bottom: 33px;
		@include to(1440px){
			margin-bottom: 20px;
		}
	}
}

.circle-btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #9AB4C1;
	transition: all 0.3s;
	@include from(1441px){
		width: 46px;
		height: 46px;
	}
	&-inner{
		border: 1px solid #F0F1F8;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		@include from(1441px){
			width: 32px;
			height: 32px;
		}
		svg{
			width: 10px;
			height: 6px;
			fill: #C11426;
			stroke: #C11426;
		}
	}
}

.home-open-sec__title{
	padding-top: 115px;
	padding-bottom: 55px;
	margin-left: 160px;
	max-width: 905px;
	font-weight: bold;
	line-height: lh(55, 45);
	/* блэк */
	font-size: 68px;
	color: #000C31;
	@include to(1440px){
		max-width: 445px;
		font-size: 45px;
		margin-left: 0;
	}
	@include to(992px){
		padding-top: 85px;
		padding-bottom: 25px;
		font-size: 32px;
	}
	@include to(700px){
		padding-top: 50px;
		font-size: 22px;
		font-weight: 500;
		br{
			display: none;
		}
	}
}
.home-open-sec-item__img2{
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	width: 228px;
	height: 253px;
	@include to(992px){
		width: 175px;
		height: 175px;
	}
	img{
		height: 100%;
		object-fit: contain;
	}
}
.home-open-sec-item{
	height: 100%;
	padding: 34px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	overflow: hidden;
	@include to(992px){
		padding: 20px;
	}
	&:hover{
		.home-open-sec-item__overlay::before{
			transform: scale(1);
		}
		.home-open-sec-item__overlay{
			opacity: 1;
			visibility: visible;
		}
		.home-open-sec-item__btn{
			background: #C11426;
			border: 1px solid #C11426;
		}
		.home-open-sec-item__text{
			padding-bottom: 0;
			opacity: 1;
			visibility: visible;
		}
		.home-open-sec-item__img img{
			transform: scale(1.15);
		}
	}
	&__img{
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img{
			transition: all 0.3s;
			object-fit: cover;
			height: 100%;
		}
	}
	&__title{
		z-index: 5;
		font-weight: 500;
		font-size: 24px;
		line-height: lh(24, 18);
		text-align: center;
		color: #FBFBFB;
		transition: all 0.75s;
		@include to(1440px){
			font-size: 18px;
		}
		@include to(992px){
			font-size: 14px;
		}
		@include to(700px){
			font-size: 16px;
			font-weight: 400;
		}
	}
	&__btn{
		z-index: 5;
		width: 100%;
		max-width: 232px;
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #F0F1F8;
		border-radius: 50px;
		font-weight: 500;
		font-size: 18px;
		letter-spacing: 0.08em;
		transition: all 0.3s;
		color: #FBFBFB;
		@include to(1440px){
			font-size: 15px;
			height: 43px;
			max-width: 210px;
		}
		@include to(992px){
			max-width: 186px;
			width: 100%;
			height: 40px;
			font-size: 12px;
		}
		@include to(700px){
			height: 44px;
			max-width: 200px;
			font-size: 14px;
			font-weight: 400;
		}
	}
	&__text{
		opacity: 0;
		padding-bottom: 15px;
		max-width: 281px;
		margin-top: auto;
		text-align: center;
		z-index: 5;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: vh(22,12);
		transition: all 0.3s;
		color: #9AB4C1;
		@include to(1440px){
			font-size: 12px;
		}
		@include to(992px){
			display: none;
		}
	}
	&__overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(33, 49, 75, 0.7);
		backdrop-filter: blur(20px);
		transition: all 0.3s;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		&::before{
			position: absolute;
			top: 0;
			left: 0;
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			display: flex;
			content: "";
			margin: 10px;
			border: 1px solid #9AB4C1;
			opacity: 0.5;
			pointer-events: none;
			transform: scale(1.1);
			transition: all 0.3s;
		}
	}
	
}









// .main-section-sl,
// .main-section-navbar{
// 	@include to(1200px) {
// 		display: none;
// 	}
// }
// .main-section-sl--mob {
// 	@include from(1201px){
// 		display: none;
// 	}
// }


// @include from(1441px){
// 	#home{
// 		.page-container{
// 			max-width: 100%;
// 			width: 100%;
			
// 		}

// 		.page-list-item a, .page-list-item-btn{
// 			min-height: 420px;
// 		}
// 		.page-list-item{
// 			&__title{
// 				font-size: 20px;
// 			}
// 			&__btn{
// 				font-size: 18px;
// 			}
// 		}
// 		.home-open-sec-list{
// 			li{
// 				&:nth-child(1){
// 					height: 500px;
// 				}
// 				&:nth-child(2){
// 					height: 400px;
// 				}
// 			}
// 		}
// 	}
// }
@media screen and (min-width: 1441px) and (max-height: 840px){
	.main-slide__text-wrapper{
		margin-top: 35px;
	}
	.main-slide__title{
		font-size: 45px;
		max-width: 505px;
	}
	.main-slide__subtitle{
		font-size: 18px;
		max-width: 320px;
	}
}