.palette-block{
	@include col();
	@include size(12);
	margin-top: 27px;
	margin-bottom: 110px;
	@include to(992px){
		margin-top: 8px;
	}
@include to(700px){
	margin-bottom: 0;
}
	&-header{
		background-color: #fff;
		padding: 20px 65px 20px 10.3%;
		box-shadow: 0px 10px 20px rgba(24, 49, 91, 0.05);
		min-height: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include to(992px){
			padding: 20px 65px 20px 6%;

		}
		@include to(700px){
			padding: 13px 0 13px 0%;
			box-shadow: none;

		}
	}
}

.palette-block-body{
	position: relative;
	box-shadow: 0px 10px 20px rgba(24, 49, 91, 0.05);
	padding: 40px 30px 75px 30px;
	@include to(992px){
		padding: 21px 30px 75px 30px;

	}
	@include to(700px){
		padding: 12px 0px 75px 0px;

	}
}
.pallete-search{
	display: inline-flex;
	align-items: center;
	border-bottom: 1px solid #C2D2DA;
	&__input{
		height: 22px;
		width: 168px;
		border: none;
		margin-right: 25px;
		font-style: italic;
		&::placeholder{
			font-weight: 500;
			font-size: 10px;
			color: #9AB4C1;
		}
	}
	&__btn{
		background: transparent;
		border: none;
		outline: none;
	}
	svg{
		width: 18px;
		height: 18px;
		fill: #C11426;
		
	}
}

.palette-block-body-item__text{
	margin-bottom: 45px;
	max-width: 540px;
	font-size: 12px;
	line-height: lh(22, 12);
	margin-left: min(vw(107), 90px);
	color: #586386;
	@include to(992px){
		margin-left: 32px;
		margin-bottom: 27px;
	}
	@include to(700px){
		margin-left: 0px;
		margin-bottom: 27px;
	}
}
.palette-block-body-item{
	position: absolute;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}

.palette-tab-content-item--active{
	position: static;
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
	display: flex;
	flex-direction: column;
}
.palette-item-select-wrap{
	//width: 180px;
	display: inline-block;
	@include to(700px){
		width: 100%;
	}
	select,
	input {
		//width: 100%;
		width: initial;
		padding: 0 25px 0 20px;
		border: none;
		height: 36px;
		background: #F0F1F8;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		color: #17315B;
	}
	&.calculator-item-select-wrap::after{
		right: 15px;
	}
}
.palette-color-item-select-wrap {
	width: 100%;
	@include from(701px){
		display: none;
	}
	select,
	input {
		width: 100%;
		padding: 0 25px 0 20px;
		border: none;
		height: 36px;
		background: #F0F1F8;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 500;
		color: #17315B;
	}
}


.palette-tab{
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 10px 20px rgba(24, 49, 91, 0.05);

}

.palette-tab-btns{
	display: flex;
	@include to(700px){
		display: none;
	}

}

.palette-tab-btns-item {
	width: 11.1%;

	button{
		position: relative;
		padding: 0 10px;
		width: 100%;
		height: 54px;
		font-size: 10px;
		line-height: lh(15,10);
		display: flex;
		align-items: center;
		text-transform: uppercase;
		justify-content: center;
		color: #17315B;
		background: #F0F1F8;
		@include to(992px){
			font-size: 8px;
			height: 35px;
		}
		.line{
			position: absolute;

			bottom: 0;
			left: 50%;
			width: calc(100% - 20px);
			transform: translateX(-50%);
			height: 6px;
			display: flex;
			@include to(992px){
				width: calc(100% - 12px);
				height: 3px;

			}
		}
		&[data-indx='0']{
			.line{
				background: linear-gradient(90deg, #E86C5C 0%, #93CC91 53.12%, #607ABC 100%);
			}
		}
		&[data-indx='1']{
			.line{
				background: #F0C142;
			}
		}
		&[data-indx='2']{
			.line{
				background: #E85C69;
			}
		}
		&[data-indx='3']{
			.line{
				background: #9878AF;
			}
		}
		&[data-indx='4']{
			.line{
				background: #508FC1;
			}
		}
		&[data-indx='5']{
			.line{
				background: #97E091;
			}
		}
		&[data-indx='6']{
			.line{
				background: #BC7F69;
			}
		}
		&[data-indx='7']{
			.line{
				background: #DBE6EC;
			}
		}
		&[data-indx='8']{
			.line{
				background: #E3D1BE;
			}
		}
		&[data-indx='9']{
			.line{
				background: #C4C9CD;
			}
		}
	}
}


.palette-color-tab-content-item {
	position: absolute;
	top: 54px;
	left: 0;
	width: 100%;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	//transition: all 0.3s;
	justify-content: flex-start;
	overflow: auto;
	//flex-wrap: wrap;
	padding: 50px 30px 50px 30px;
	@include to(992px){
		padding: 30px 15px 0px 15px;
	}
	@include to(700px){
		justify-content: center;
	}
}

.palette-color-tab-content-item--active {
	position: static;
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
	display: flex;


}

.palette-tab-btn--active:not(#h){
	@include from(701px){

		background-color: #fff;
	}
}

.color-list{
	display: flex;
	flex-direction: column;
	margin: 0 auto 30px;
	@include to(1200px){
		margin: 0 min(vw(5), 5px) 30px;

	}
}

.color-shade-table{
	display: flex;
	width: 100%;
	padding: 50px 30px 50px 30px;
	overflow: auto;
}

.color-shade-list{
	display: flex;
	&.wrap{
		flex-wrap: wrap;
	}
}

.color-shade-item{
	margin: 2px;
	width: 26px;
	height: 26px;
	background: transparent;
	//background: #C84F68;
	border: 1px solid #eeeeee;
	transition: transform 0.3s;
	@include from(993px){
		&:hover{
			border: 1px solid transparent;
			transform: scale(2.4);
		}
	}
	@include to(1200px){
		width: min(vw(26), 26px);
		height: min(vw(26), 26px);
	}
	@include to(992px){
		width: 26px;
		height: 26px;
	}

	a{
		width: 100%;
		height: 100%;
		display: flex;
	}

}