.services-title{
	font-size: 28px;
	line-height: 1.4em;
	color: #000C31;
	font-weight: 500;
}

.services-text{
	font-size: 12px;
	line-height: 1.8em;
	color: #586386;
	p + p{
		margin-top: 15px;
	}
}

.services-btn{
	border: 1px solid #9AB4C1;
	border-radius: 25px;
	width: 210px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.6em;
	letter-spacing: 0.08em;
	color: #000C31;
	text-decoration: none;
	background: none;
	transition: all 0.3s;
	&:hover{
		background-color: #C11426;
		color: #F6F7FC;
		border: 1px solid #C11426;
	}
}

.services-sec1{
	background-color: #F6F7FC;
	padding: 55px 0;
}

.block-sec1{
	@include col();
	@include size(6);
	&__image-wrapper{
		margin-bottom: 25px;
		img{
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}
	&__title{
		margin-bottom: 5px;
	}
	&__text{
		margin-bottom: 40px;
	}
}

.services-sec2{
	padding: 90px 0;
	height: 562px;
	&__title{
		text-align: center;
		margin-bottom: 45px;
	}
	&__info-block-cross{
		margin-bottom: 35px;
	}
}

.services-school{
	background: #F6F7FC;
	padding: 80px 0;
	&__img-wrapper{
		@include col();
		@include size(5);
		@include shift-left(1);
	}
	&__content{
		@include col();
		@include size(6);
	}
	&__title{
		color: #000C31;
		font-weight: bold;
		font-size: 45px;
		line-height: 1.22em;
		max-width: 488px;
		margin-bottom: 15px;
		transform: translate(-78px, 0);
	}
	&__content{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__text{
		margin-bottom: 50px;
		max-width: 445px;
	}
}

.services-school-popup{
	max-width: 1110px;
	padding: 40px 25px 5px 40px;
	margin: 0 auto;
	box-shadow: 0px 4px 30px rgba(154, 180, 193, 0.3);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	width: 100%;
	display: none;
	flex-direction: column;
	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 25px;
	}
	&__close-btn{
		width: 52px;
		height: 52px;
		svg{
			width: 100%;
			height: 100%;
			fill: none;
		}
		@include to(700px){
			width: 28px;
			height: 28px;

		}
		
	}
	&__table-row-top{
		display: flex;
		background: rgba(240, 241, 248, 0.7);
		text-transform: uppercase;
		padding: 22px 30px;
		font-size: 10px;
		line-height: 1.5em;
		color: #17315B;
	}
	&__table-row{
		display: flex;
		padding: 25px 15px 25px 25px;
		border-bottom: 1px solid #F0F1F8;
		flex-direction: row-reverse;
		justify-content: flex-start;
		&:hover{
			background: #F0F1F8;
			.link-with-circle{
				&__circle{
					border: none
				}
				&__circle-inner{
					background: #C11426;
					border-color: #C11426;
					svg{
						path{
							fill: #F6F7FC;
							stroke: #F6F7FC;
						}
					}
				}
			}
		}
	}
	&__col{
		direction: ltr;
		&_1, &_2, &_3{
			flex-basis: 165px;
			flex-shrink: 0;
		}
		&_1{
			.services-school-popup__text{
				max-width: 140px;
			}
		}
		&_2{

		}
		&_3{

		}
		&_4{
			display: flex;
			flex-grow: 1;
			justify-content: space-between;
			.services-school-popup__text{
				max-width: 315px;
			}
		}
	}
	&__main{
		height: 400px;
		overflow-y: scroll;
		direction: rtl;
		&::-webkit-scrollbar{
			width: 2px;
			
		}
		&::-webkit-scrollbar-thumb{
			background-color: #C11426
		}
		&::-webkit-scrollbar-track-piece{
			background-color: #F0F1F8;
		}

	}
	&__text{
		font-size: 12px;
		line-height: 1.8em;
		color: #586386;
		display: block;
		&_bold{
			color: #000C31;
			font-weight: 500;
		}
	}
}

.services-slider{
	padding: 90px 0;
	&__control{
		@include col();
		@include size(1);
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}
	&__arrow{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		box-shadow: 0px 15px 35px rgba(188, 190, 195, 0.3);
		background: #FBFBFB;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	&__arrows{
		flex-basis: 125px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__slider{
		@include col();
		@include size(11);
	}
	&__counter{
		font-size: 10px;
		line-height: 1.5em;
		color: #C11426;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.js-services-slider{
	.slick-list{
		padding: 0 10% 0 0;
	}
	.slick-slide{
		transition: all 0.3s;
		transform: scale(1);
	}

	.slick-slide:not(.slick-active){
		transform: scale(0.5) translate(-45%, 0);
		img{
			
		}
		
	}
}