.footer-subscribe
	.container
		.row
			.footer-subscribe__l
				.footer-subscribe__subtitle Будьте в курсе всех новостей и интересных предложений от Kolorit. Подпишитесь на нашу
				.footer-subscribe__title  Рассылку!
			.footer-subscribe__r
				form.footer-subscribe-form
					.footer-subscribe-form__input-group
						label(for="footer-subscribe-form-name").footer-subscribe-form__label Имя*
						input(type="text" name="footer-subscribe-form-name" required placeholder="Имя*").footer-subscribe-form__input
					.footer-subscribe-form__input-group
						label(for="footer-subscribe-form-email").footer-subscribe-form__label E-mail*
						input(type="email" name="footer-subscribe-form-email" required placeholder="E-mail*").footer-subscribe-form__input
					button.btn--res.footer-subscribe-form__btn Отправить
.footer-menu
	button.btn--res
		+svg('up').up-btn.js-up-btn
	.container
			ul.footer-menu.footer-menu_desk
				each j, ii in menuObj
					li.footer-menu-item
						a(href="#").footer-menu-item__link
							span= j.title
						ul.footer-submenu-list
							each v in j.sub
								li.footer-submenu-item
									a(href="#").footer-submenu-item__link= v
				li.footer-menu-item
					a(href="#").footer-menu-item__link.item-maggin-bottom
						span компания
					a(href="#").footer-menu-item__link.item-maggin-bottom
						span советы
					a(href="#").footer-menu-item__link.item-maggin-bottom
						span где купить
				li.footer-menu-item
					a(href="#").footer-menu-item__link
						span сервисы
					ul.footer-submenu-list
						each v in ['Калькулятор краски', 'Подбор цвета']
							li.footer-submenu-item
								a(href="#").footer-submenu-item__link= v
				li.footer-menu-item.footer-menu-item_last
					a(href="#").footer-menu-item__link Инфо
					ul.footer-submenu-list
						each v in ['Акции', 'Новости', 'Объекты']
							li.footer-submenu-item
								a(href="#").footer-submenu-item__link= v

				li.footer-menu-item.menu-mob-show.col--6
					a(href="#").footer-menu-item__link Меню
					ul.footer-submenu-list
						li.footer-submenu-item
							a(href="#").footer-submenu-item__link Компания
						li.footer-submenu-item
							a(href="#").footer-submenu-item__link Продукция
						li.footer-submenu-item
							a(href="#").footer-submenu-item__link Сервисы

				li.footer-menu-item.menu-mob-show.col--6
					a(href="#").footer-menu-item__link.mob1--hidden menu
					ul.footer-submenu-list
						li.footer-submenu-item
							a(href="#").footer-submenu-item__link Советы
						li.footer-submenu-item
							a(href="#").footer-submenu-item__link Инфо
						li.footer-submenu-item
							a(href="#").footer-submenu-item__link Где купить

				li.footer-menu-item.footer-menu-item_social
					ul.footer-menu-info-list
						li.footer-menu-info-item
							a(href="https://www.instagram.com/kolorit.ukraine/" target="_blank").footer-menu-info-item__icon
								<svg width="58" height="59" viewBox="0 0 58 59" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="29" cy="30.915" r="21" fill="#17315B"/>
									<circle cx="29" cy="29.915" r="28.835" stroke="#9AB4C1" stroke-width="0.33"/>
									<path d="M33 29.915C33 32.1242 31.2092 33.915 29 33.915C26.7908 33.915 25 32.1242 25 29.915C25 27.7059 26.7908 25.915 29 25.915C31.2092 25.915 33 27.7059 33 29.915Z" fill="#F6F7FC"/>
									<path d="M37.558 23.4405C37.3821 22.9638 37.1015 22.5323 36.7369 22.1782C36.3827 21.8135 35.9515 21.5329 35.4746 21.357C35.0878 21.2068 34.5067 21.0279 33.4363 20.9792C32.2785 20.9264 31.9313 20.915 29.0001 20.915C26.0687 20.915 25.7215 20.9261 24.564 20.9789C23.4936 21.0279 22.9122 21.2068 22.5257 21.357C22.0487 21.5329 21.6173 21.8135 21.2634 22.1782C20.8988 22.5323 20.6182 22.9635 20.442 23.4405C20.2917 23.8273 20.1129 24.4087 20.0642 25.479C20.0114 26.6365 20 26.9837 20 29.9152C20 32.8464 20.0114 33.1935 20.0642 34.3514C20.1129 35.4217 20.2917 36.0028 20.442 36.3896C20.6182 36.8666 20.8985 37.2977 21.2631 37.6519C21.6173 38.0165 22.0485 38.2972 22.5254 38.4731C22.9122 38.6236 23.4936 38.8024 24.564 38.8512C25.7215 38.904 26.0684 38.915 28.9999 38.915C31.9316 38.915 32.2788 38.904 33.436 38.8512C34.5064 38.8024 35.0878 38.6236 35.4746 38.4731C36.432 38.1038 37.1887 37.347 37.558 36.3896C37.7083 36.0028 37.8871 35.4217 37.9361 34.3514C37.9889 33.1935 38 32.8464 38 29.9152C38 26.9837 37.9889 26.6365 37.9361 25.479C37.8874 24.4087 37.7086 23.8273 37.558 23.4405ZM29.0001 35.5521C25.8866 35.5521 23.3627 33.0284 23.3627 29.9149C23.3627 26.8014 25.8866 24.2777 29.0001 24.2777C32.1134 24.2777 34.6373 26.8014 34.6373 29.9149C34.6373 33.0284 32.1134 35.5521 29.0001 35.5521ZM34.8602 25.3722C34.1327 25.3722 33.5428 24.7824 33.5428 24.0548C33.5428 23.3273 34.1327 22.7374 34.8602 22.7374C35.5878 22.7374 36.1776 23.3273 36.1776 24.0548C36.1773 24.7824 35.5878 25.3722 34.8602 25.3722Z" fill="#F6F7FC"/>
								</svg>

							.footer-menu-info-item__text
								p.footer-text ООО «Краски Колорит»
								p.footer-text 08130 Киевская область, Петропавловская Борщаговка, ул. Садовая, 49
									a.footer-text(href="tel:+380442377112") +38 044 237 71 12 
									a.footer-text(href="tel:+380442377112") 0 800 508 908 
						li.footer-menu-info-item
							a(href="https://www.youtube.com/channel/UC5oOS8rX3BZi2OfQGDwocAQ" target="_blank").footer-menu-info-item__icon
								<svg width="58" height="59" viewBox="0 0 58 59" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="29" cy="29.915" r="21" fill="#17315B"/>
									<circle cx="29" cy="29.915" r="28.835" stroke="#9AB4C1" stroke-width="0.33"/>
									<g clip-path="url(#clip0)">
									<path d="M19.4349 34.81C19.8433 36.2583 21.0924 36.5233 21.1758 36.5741C23.2316 37.1341 34.7549 37.1358 36.8416 36.5741C38.2708 36.1608 38.5333 34.8933 38.5824 34.81C39.1266 31.915 39.1624 28.1408 38.5574 24.8558L38.5824 25.0191C38.1741 23.5708 36.9249 23.3058 36.8416 23.255C34.8133 22.7041 23.2599 22.6833 21.1758 23.255C19.7466 23.6691 19.4841 24.9358 19.4349 25.0191C18.8524 28.0616 18.8233 31.5525 19.4349 34.81ZM27.0066 32.9575V26.88L32.2283 29.9233L27.0066 32.9575Z" fill="#F6F7FC"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="20" height="20" fill="white" transform="translate(19 19.915)"/>
									</clipPath>
									</defs>
								</svg>

							.footer-menu-info-item__text
								p.footer-text Унитарное предприятие «Краски Колорит» Республика Беларусь Минск, 220036 пр-т Дзержинского д. 5, офис 4405 Тел.
									a.footer-text(href="tel:+375173281868") +375 17 328 18 68; 
									a.footer-text(href="tel:+375291525555") +375 29 152 55 55
						li.footer-menu-info-item
							a(href="https://www.facebook.com/kolorit.ukraine/" target="_blank").footer-menu-info-item__icon
								<svg width="58" height="59" viewBox="0 0 58 59" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="29" cy="29.915" r="21" fill="#17315B"/>
									<circle cx="29" cy="29.915" r="28.835" stroke="#9AB4C1" stroke-width="0.33"/>
									<g clip-path="url(#clip0)">
									<path d="M32.6641 22.568H34.6725V19.07C34.326 19.0223 33.1343 18.915 31.7465 18.915C28.8507 18.915 26.8671 20.7365 26.8671 24.0841V27.165H23.6716V31.0755H26.8671V40.915H30.7849V31.0765H33.8512L34.3379 27.166H30.784V24.4719C30.7849 23.3416 31.0892 22.568 32.6641 22.568Z" fill="#F6F7FC"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="22" height="22" fill="white" transform="translate(18 18.915)"/>
									</clipPath>
									</defs>
								</svg>
							.footer-menu-info-item__text
								p.footer-menu-info-item__title Подписаться на рассылку:
								form.subscribe-form
									input(type="email" required placeholder="E-mail").subscribe-form__input-email
									button.btn--res.subscribe-form__submit
										+svg('form_submit')

				li.footer-menu-item.footer-menu-item_links
					ul.footer-submenu-list.footer-link-list
						each v in ['Система Argentum Protect, Национальная акция 2020, Символы на этикетках','Национальная акция 2020, Символы на этикеткахСистема Argentum Protect Национальная акция 2020, Символы на этикетках','Argentum Система Protect, Национальная акция 2020, Символы на этикетках. Национальная акция']
							li.footer-submenu-item
								a(href="#").footer-submenu-item__link.underline--mob
									span= v
				li.footer-menu-item.footer-menu-item_hello
					.footer-menu-tel-desk
						a(href="tel:0800508908") 
							+svg('helloy')
							span 0 800 508 908

.footer-copy
	.container
		.row
			p.footer__copy.footer-text © 2020 ООО «Краски Колорит»
			a(href="#").footer-text.tablet--hidden Политика конфиденциальности
			a(href="#").footer-text.tablet--hidden Правила пользования сайтом
			a(href='https://smarto.agency/' rel="nofollow" target="_blank").footer-text.footer-logo-dev
				span Разработано
				img(src='./assets/images/smarto.svg' alt="smart-orange" title="smart-orange")