// ---------------
.modal-form-popup.js-modal-form-popup_1
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-form_cons_close
		+svg('close')
	.modal-form-popup__title Выездная консультация
	form.modal-form#modal-form-consult
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		input(name="city" type="text" placeholder="Город").modal-form__input
		input(name="datails" type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
		button.btn--res.modal-form__btn Отправить
// ---------------
// ---------------

.modal-form-popup.js-modal-form-popup_2
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-form_delivery_close
		+svg('close')
	.modal-form-popup__title Бесплатная доставка
	form.modal-form#modal-form-free-delivery
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		input(name="city" type="text" placeholder="Город").modal-form__input
		input(name="datails" type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
		button.btn--res.modal-form__btn Отправить
// ---------------
// ---------------


.modal-form-popup.js-modal-form-popup_services
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-close-consult-services
		+svg('close')
	.modal-form-popup__title Сервисы
	form.modal-form#modal-form-free-delivery-services
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		input(name="city" type="text" placeholder="Город").modal-form__input
		input(name="datails" type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
		button.btn--res.modal-form__btn Отправить
// ---------------
// ---------------


.modal-form-popup.js-modal-form-popup_services-order
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-close-consult-services-order
		+svg('close')
	.modal-form-popup__title Заказ выкрасов
	form.modal-form#modal-form-free-delivery-services-order
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		input(name="city" type="text" placeholder="Город").modal-form__input
		input(name="datails" type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
		button.btn--res.modal-form__btn Отправить
// ---------------
// ---------------


.modal-form-popup.js-modal-form-popup_services-shipping
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-close-consult-services-shipping
		+svg('close')
	.modal-form-popup__title Бесплатная доставка
	form.modal-form#modal-form-free-delivery-services-shipping
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		input(name="city" type="text" placeholder="Город").modal-form__input
		input(name="datails" type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
		button.btn--res.modal-form__btn Отправить
// ---------------

// ---------------

.search-modal.js-search-modal
	.search-modal-back-block
		button(type="button").js-search-modal-back.search-modal-back-block__link.link-arrow-type.btn--res
			.circle-btn
				.circle-btn-inner
					+svg('qww')
			span.link-arrow-type__text НАЗАД
	.search-modal-content-block
		.search-modal__title Поиск
		.search-modal-input
			input(type="text" placeholder="Введите название...")
			+svg('search')
		ul.search-result-list.custom-scroll
			// max 6 items
			each v in [1,1,1,1,1,1]
				li.search-result-item
					a(href="#").search-result-item__link.underline-link
						span Реставрация эмалированной ванны своими рукамиhttps://kolorit.ua/restavratsiya-emalirovannoj-vanny-svoimi-rukami/
					span.search-result-item__text https://kolorit.ua/restavratsiya-emalirovannoj-vanny-svoimi-rukami/https://kolorit.ua/restavratsiya-emalirovannoj-vanny-svoimi-rukami/
// ---------------
// ---------------

.services-school-popup.js-services-school-popup
		.services-school-popup__top
			.services-school-popup__title.services-title Расписание 
			button.services-school-popup__close-btn.btn--res.js-school-popup-close
				+svg('close')
		.services-school-popup__table
			.services-school-popup__table-row-top
				.services-school-popup__col.services-school-popup__col_1 Тема
				.services-school-popup__col.services-school-popup__col_2 когда
				.services-school-popup__col.services-school-popup__col_3 Где
				.services-school-popup__col.services-school-popup__col_4 Детали мероприятия
			.services-school-popup__main
				each index in ['1']
					.services-school-popup__table-row
						.services-school-popup__col.services-school-popup__col_1 
							spanspan.services-school-popup__text.services-school-popup__text_bold Ассортимент ЛКМ в Color Studio Tikkurila
						.services-school-popup__col.services-school-popup__col_2 
							span.services-school-popup__text.services-school-popup__text_bold 14.09.2018
							span.services-school-popup__text 12:00
						.services-school-popup__col.services-school-popup__col_3
							span.services-school-popup__text.services-school-popup__text_bold Color Studio Tikkurila
							span.services-school-popup__text Киев, ул. Прекрасная и волшебная, 85
						.services-school-popup__col.services-school-popup__col_4
							span.services-school-popup__text Второй поток курса по управлению проектами пройдет  полностью онлайн. Мировой кризис из-за эпидемии распространения Covid-19 серьёзно 
							button(data-title="Ассортимент ЛКМ в Color Studio Tikkurila" data-where="29.09.2020 12:00:00").btn--res.link-with-circle.company-banner__link-with-circle.js-school-registr-popup
								.link-with-circle__circle
									.link-with-circle__circle-inner
										<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#C11426"/>
											<path d="M-7.86805e-08 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#C11426" stroke-width="0.6"/>
										</svg>
								span.link-with-circle__text Регистрация
// ---------------


.modal-form-popup.js-modal-form-popup_loyal
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-form_loyal_close
		+svg('close')
	.modal-form-popup__title Запросить условия
	form.modal-form#form-modal-form-popup_loyal
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		input(name="city" type="text" placeholder="Город").modal-form__input
		input(name="datails" type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
		button.btn--res.modal-form__btn Отправить


.modal-form-popup.js-modal-form-popup_company
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-form_company_close
		+svg('close')
	.modal-form-popup__title Консультация
	form.modal-form#company-modal-form
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		input(name="city" type="text" placeholder="Город").modal-form__input
		input(name="datails" type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
		button.btn--res.modal-form__btn Отправить

.modal-form-popup.js-modal-form-popup_school-registr
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-form_registr_close
		+svg('close')
	.modal-form-popup__title Регистрация
	form.modal-form#form-popup_school-registr
		input(name="name" type="text" required placeholder="Имя*").modal-form__input
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		<input type="hidden" class="js-not__clear" name="title">
		<input type="hidden" class="js-not__clear" name="where">
		button.btn--res.modal-form__btn Отправить

.modal-form-popup.js-modal-form-popup_thank.modal-form-popup_thank
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-form_thank_close
		+svg('close')
	.modal-form-popup__title.js-modal-form-popup__title Спасибо за обращение. Наши менеджеры скоро с Вами свяжутся. 

.modal-form-popup.js-modal-form-popup_thank-site.modal-form-popup_thank
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-form_thank_close
		+svg('close')
	.modal-form-popup__title.js-modal-form-popup__title Спасибо за обращение. Наши менеджеры скоро с Вами свяжутся. 


.modal-form-popup.js-modal-form-popup_color-single
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res.js-form_color-single_close
		+svg('close')
	.modal-form-popup__text-wrapper
		.modal-form-popup__title Запрос просчета 
		.modal-form-popup__text Если вам нужна помощь в просчете необходимого количества материалов, вы не знаете, какой продукт идеально подойдет под вашу задачу - наши специалисты готовы помочь вам сделать правильный выбор и пасчеты!
	form.modal-form#modal-form-popup_color-single
		input(name="name" type="text" required placeholder="Имя*").modal-form__input
		input(name="phone" type="text" required placeholder="Телефон*").modal-form__input.js-modal-form__input-phone
		input(name="email" type="email" required placeholder="E-mail*").modal-form__input
		input(name="datails" type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
		button.btn--res.modal-form__btn Отправить
