.modal-form-popup.js-modal-form-popup
	button(type="button").js-modal-form__btn-close.modal-form__btn-close.btn--res
		+svg('close')
	.modal-form-popup__title Выездная консультация
	.modal-form
		input(type="text" required placeholder="Телефон*").modal-form__input
		input(type="email" required placeholder="E-mail*").modal-form__input
		input(type="text" required placeholder="Город*").modal-form__input
		input(type="text" placeholder="Детали запроса").modal-form__input
		button.btn--res.modal-form__btn Отправить
