extends ../layout/main
block variable1
	-
		var title_page = '6 причин купить шпатлевку Kolorit STANDART LF в июне'
		var breadcrumbsSubitem = [
				{
					label: 'Краски kolorit',
					link: "/"
				},
				{
					label: 'инфоцентр',
					link: '#'
				},
				{
					label: 'новости',
					link: '#'
				},
			];
		
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
	script(src='./assets/scripts/open-pg.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content
	.container.position--relative
		include ../includes/breadcrumbs.pug
	.discounts-open
		.discount-top-banner
			.discount-top-banner__content
				.container
					.discount-top-banner__body
						.discount-top-banner__content-inner
							h1.discount-top-banner__title.advice-open-sec-title 6 причин купить шпатлевку Kolorit STANDART LF в июне
							span.discount-top-banner__subtitle Магия шелка для вашего дома
							ul.products-card-block-info
										//- ----------
										li.products-card-block-info-item
											+img('company/v1.svg').products-card-block-info-item__ico
											.products-card-block-info-item-descr
												+svg('vopr')
												p.products-card-block-info-item-descr__text заключение «Ассоциации аллергологов Украины» и Института экогигиены и токсикологии о гипоаллергенности продукции;
										li.products-card-block-info-item
											+img('company/v2.svg').products-card-block-info-item__ico
											.products-card-block-info-item-descr
												+svg('vopr')
												p.products-card-block-info-item-descr__text заключение «Ассоциации аллергологов Украины» и Института экогигиены и токсикологии о гипоаллергенности продукции;
										//- ----------
										//- ----------
										li.products-card-block-info-item.products-card-block-info-item--long
											+img('company/v3.svg').products-card-block-info-item__ico
											.products-card-block-info-item-descr
												+svg('vopr')
												p.products-card-block-info-item-descr__text заключение «Ассоциации аллергологов Украины» и Института экогигиены и токсикологии о гипоаллергенности продукции;
						.discount-top-banner__discount-block
							h2.discount-top-banner__discount-block-title -10%
							.discount-top-banner__discount-block-img
								+img('temp/discount-open-bottle.png')
			.discount-top-banner__img
				+img('temp/discounts-open-topbanner.jpg')
		.advice-open-banner.discounts-open-banner
			.container
				.row
					.advice-open-banner__img-wrapper
						+img('advice-open/banner.png')
					.advice-open-banner__content
						h4.advice-open-banner__title.advice-open-sec-title Грунтовка Reaflex 50
						p.advice-open-text.advice-open-banner__text Силиконовый грунт для наружных работ, укрепления и пропитывания бетонных, цементно-известковых, гипсокартонных и других впитывающих поверхностей перед нанесением штукатурки, шпатлёвки, водно-дисперсионных красок.
						.advice-open-banner__content-bottom
							a(href="#").services-btn.advice-open-banner__btn Подробнее
							a(href="#").link-with-circle.advice-open-banner__link
										.link-with-circle__circle
											.link-with-circle__circle-inner
												<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#C11426"/>
													<path d="M-7.86805e-08 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#C11426" stroke-width="0.6"/>
												</svg>
										span.link-with-circle__text Где купить
		.products-card-advice-sl-container-wrap
			.container
				.row.products-card-advice-sl-row
					.products-card-advice-sl
						.products-card-advice-sl__title Другие акции
						.products-card-advice-sl-slider-wrap
							.products-card-advice-sl-navbar-btn-wrap
								button(type="button").btn--res.slider-btn.js-products-card-advice-sl-slider-prev
									+svg('arr-small-right')
								button(type="button").btn--res.slider-btn.js-products-card-advice-sl-slider-next
									+svg('arr-small-left')
							ul.products-card-advice-sl-slider.js-advice-open-slider
								each v in [1,1,1,1,]
									li.advice-sl-slider-li
										a.news-item
											.news-item__img
												+img('temp/12.jpg')
											.advice-item__subtitle
												.advice-item__subtitle__num СОВЕТ №1
												.advice-item__subtitle__text Работа с цветом
											h4.news-item__title.underline-link
												span 6 причин купить шпатлевку Kolorit STANDART LF в июне 6 причин купить шпатлевку Kolorit STANDART LF в июне
											.news-item__time 17.03.2010
											.news-item-btn.link-arrow-type
												.circle-btn
													.circle-btn-inner.dark-ico
														+svg('qww')
												.news-item-btn__text Подробнее