extends ../layout/main
block variable
	-
		var catSlaider = [	
			{ 
				img: './assets/images/home/cat-1.png',
				title: 'VODA UA у пластиковій пляшці',
				type: 'негазована 1,5л',
				price: '₴ 12.00',
				link: "#"
			},
		];
	
block meta
	title= 'Home'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
	script(src='./assets/scripts/home.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content
	.main-section
		.main-section-navbar.brd
			.current-slick
				span.js-current-slick__cnt 1
				span /
				span.js-current-slick__all 6

			.main-section-dots-wrapper.js-main-section-dots-wrapper
			button(type="button").btn--res.slider-btn.js-main-sl-arr-prev
				+svg('arr-small-right')
			button(type="button").btn--res.slider-btn.js-main-sl-arr-next
				+svg('arr-small-left')
		.main-section-sl.js-main-section-sl
			.main-section-sl__1.main-section-sl-1
				.main-section-sl-wrap
					h4.main-section-sl__title Особое ощущение вашего дома
					p.main-section-sl__subtitle Лаки и краски со скандинавской генетикой
				.main-section-sl-1__main-img
					//- +img('sl/sl_1/1.jpg')
					picture
						source(srcset="./assets/images/sl/sl_1/1@320.jpg" media="(max-width: 700px)") 
						source(srcset="./assets/images/sl/sl_1/1@768.jpg" media="(max-width: 768px)") 
						img(src="./assets/images/sl/sl_1/1.jpg" alt="MDN")
				+img('sl/sl_1/2.png').main-section-sl-1__main-img-2
				.main-section-sl-1__btn.main-section-sl-1-btn
					+img('sl/arrow.svg').main-section-sl-1-btn__icon
					span.main-section-sl-1-btn__text Читать о компании
				.mouse-tip.mouse-tip--gray
					+svg('mouse').mouse-tip__icon
					.mouse-tip__text используйте скролл
				.hot-line.hot-line--darken
					.hot-line__text Горячая линия
					a(href="tel:+1234567890").header-phone
						+svg('phone').header-phone__icon
						span.header-phone__text.header__text 1 234 567 890
			.main-section-sl__1.main-section-sl-1
				.main-section-sl-wrap
					h4.main-section-sl__title Особое ощущение вашего дома
					p.main-section-sl__subtitle Лаки и краски со скандинавской генетикой
				.main-section-sl-1__main-img
					//- +img('sl/sl_1/1.jpg')
					picture
						source(srcset="./assets/images/sl/sl_1/1@320.jpg" media="(max-width: 700px)") 
						source(srcset="./assets/images/sl/sl_1/1@768.jpg" media="(max-width: 768px)") 
						img(src="./assets/images/sl/sl_1/1.jpg" alt="MDN")
				+img('sl/sl_1/2.png').main-section-sl-1__main-img-2
				.main-section-sl-1__btn.main-section-sl-1-btn
					+img('sl/arrow.svg').main-section-sl-1-btn__icon
					span.main-section-sl-1-btn__text Читать о компании
				.mouse-tip.mouse-tip--gray
					+svg('mouse').mouse-tip__icon
					.mouse-tip__text используйте скролл
				.hot-line.hot-line--darken
					.hot-line__text Горячая линия
					a(href="tel:+1234567890").header-phone
						+svg('phone').header-phone__icon
						span.header-phone__text.header__text 1 234 567 890
	//- .section-slaider-wrap
	//- 	ul.slider-breadcrumds-list
	//- 		li.slider-breadcrumds-item.slider-breadcrumds-item--active качество
	//- 		li.slider-breadcrumds-item Экологичность
	//- 		li.slider-breadcrumds-item Сервис
	//- 	+img('home/bucket.png').slide-content__bucket
	//- 	.section-slaider
	//- 		// start
	//- 		.first-slide-home.section-slaider__item.slide-content
	//- 			.wrap
	//- 				.first-slide-content__1.slide-content-1
	//- 				.first-slide-content__2.slide-content-2 
	//- 					span.slide-content__counter
	//- 						span 1
	//- 						span /
	//- 						span 3
	//- 			.first-slide-content__3.slide-content-3
	//- 				.img-overlay
	//- 					+img('home/slide_1.jpg').img-overlay__bg
	//- 				h3.slide-content__title.js-slide-content__title Превосходное качество
	//- 				p.slide-content__text Качество — совокупность минимально допустимых требований к продукции, обусловливающих её пригодность удовлетворять определённые потребности
	//- 				a(href="#").link--resset.slide-content__btn Подробнее

	//- 		// end
	//- 		// --
	//- 		// start


	//- 		.section-slaider__item--hidden.second-slide-home.section-slaider__item.slide-content
	//- 			.wrap
	//- 				.second-slide-content__1.slide-content-1
	//- 					.img-overlay
	//- 						+img('home/slide_2.jpg').img-overlay__bg
	//- 				.second-slide-content__2.slide-content-2 
	//- 					span.slide-content__counter
	//- 						span 2
	//- 						span /
	//- 						span 3
	//- 			.second-slide-content__3.slide-content-3
	//- 				h3.slide-content__title.js-second__title Экологические материалы
	//- 				p.slide-content__text Качество — совокупность минимально допустимых требований к продукции, обусловливающих её пригодность удовлетворять определённые потребности
	//- 				+btn('Подробнее').slide-content__btn Узнать больше

	//- 		// end
	//- 		// --
	//- 		// start
					
					
					
	//- 		.section-slaider__item--hidden.third-slide-home.section-slaider__item.slide-content
	//- 			.wrap
	//- 				.third-slide-content__1.slide-content-1
	//- 				.third-slide-content__2.slide-content-2 
	//- 					span.slide-content__counter
	//- 						span 3
	//- 						span /
	//- 						span 3
	//- 			.third-slide-content__3.slide-content-3
	//- 				.img-overlay
	//- 					+img('home/slide_3.jpg').img-overlay__bg
	//- 				h3.slide-content__title.js-third-title Первоклассный сервис
	//- 				p.slide-content__text Качество — совокупность минимально допустимых требований к продукции, обусловливающих её пригодность удовлетворять определённые потребности
	//- 				+btn('Подробнее').slide-content__btn Подробнее
	//- 		// end