extends ../layout/main
block variable1
	-
		var title_page = 'Политика конфиденциальности'
		var breadcrumbsSubitem = [
				{
					label: 'Краски kolorit',
					link: "/"
				},
			];
		
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content
	.container.position--relative
		include ../includes/breadcrumbs.pug
	.policy-rules
		.container
			h1.advice-open-title.policy-rules__title Политика конфиденциальности
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title УСЛОВИЯ ПОЛЬЗОВАНИЯ ВЕБ-САЙТОМ WWW.KOLORIT.UA
				p Компания «Краски Колорит» стремится защитить ваши личные данные и соблюдает все соответствующие законы. Политика конфиденциальности устанавливает порядок, в соответствие с которым компания «Краски Колорит» обрабатывает ваши персональные данные. В этой политике, под личными данными понимается любая информация, касающаяся идентифицированного или идентифицируемого физического лица.
				p Используя сайт www.kolorit.ua, вы принимаете условия Политики конфиденциальности и условия пользования сайтом. В случае, если вы не принимаете указанные условия, пожалуйста, не используйте этот веб-сайт.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ОБРАБОТАННЫЕ ДАННЫЕ
				p Компания «Краски Колорит» собирает личную информацию, которая необходима для конкретных целей,  например ФИО, адрес, контактная данные, необходимые для предоставления товаров и услуг вам как клиенту и для обратной связи, связанной с продуктами и деятельностью компании «Краски Колорит». Данные собираются в основном непосредственно от лица, которому они принадлежат.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ЦЕЛИ ОБРАБОТКИ
				p Компания «Краски Колорит» может собирать и обрабатывать персональные данные в следующих целях:
				ol.custom-ol 
					li Для связи как с потребителями, так и с профессиональными клиентами и их представителями, по вопросам, связанным, например, с обслуживанием клиентов.
					li Для реализации продукции компании «Краски Колорит».
					li Для обработки обратной связи, полученной о деятельности компании «Краски Колорит», а также для оценки и развития продуктов и услуг компании «Краски Колорит».
					li Для выполнения  прав и обязанностей, связанных с контрактом между компанией «Краски Колорит» и лица, чьи данные обрабатываются.
					li Для выполнения требований действующего законодательства.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ
				p Компания «Краски Колорит» принимает все необходимые технические и организационные меры для предотвращения несанкционированного доступа к вашей личной информации. Эти меры включают в себя использование методов шифрования, контроля доступа, контролируемого введения прав пользования и инструктаж работников, привлекаемых к обработке персональных данных.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ПЕРЕДАЧА ПЕРСОНАЛЬНЫХ ДАННЫХ
				p Компания «Краски Колорит» может раскрыть ваши личные данные другим компаниям, входящим в «Краски Колорит» Group и третьим лицам, которые имеют право обрабатывать данные от имени компании «Краски Колорит». 
				p Компания «Краски Колорит» может передать ваши персональные данные за пределы страны, где они обрабатываются, в случае, если такая передача не противоречит законодательству и, обеспечивая надежную защиту ваших данных, независимо от их географического расположения.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ВАШИ ПРАВА КАК СУБЪЕКТА ДАННЫХ
				p Как владелец данных, которые подлежат обработке,  Вы имеете право:
				ol.custom-ol 
					li Запрашивать информацию от компании «Краски Колорит», о том, подвергались ли обработке ваши персональные данные.
					li Требовать удаления или обновления ваших персональных данных,  если информация является неполной, некорректной или устаревшей.
				p Пожалуйста, обратите внимание, что действующее законодательство может иметь дополнительные условия для обработки персональных данных и ваших прав как субъекта данных.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title COOKIES
				p Как и многие другие веб-сайты в Интернете, веб-сайт www.«Краски Колорит».ua использует файлы Cookies. Cookies это небольшие файлы, которые отправляются на устройство пользователя с веб-сайта и сохраняются в браузере пользователя, пока он / она просматривает веб-сайт. Когда пользователь возвращается к тому же веб-сайту снова, данные, сохраненные в  Cookies, можно получить с веб-сайта для того, чтобы уведомить автора о предыдущей деятельности пользователя на сайте.
				p Вы можете отключить использование Cookies, изменив настройки браузера, но это может затруднить работу сайта «Краски Колорит» и даже предотвратить доступ к некоторым его частям. Просматривая веб-сайт www.kolorit.ua при настроенных Cookies, Вы  соглашаетесь на использование Cookies на сайте www.kolorit.ua.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
				p В дополнение к этой политике, компания «Краски Колорит» может дать дополнительную информацию и задать дополнительные условия для обработки персональных данных, например, связанных с конкретными ситуациями, рекламными кампаниями и маркетинговыми мероприятиями. Компания «Краски Колорит» оставляет за собой право изменять эту политику конфиденциальности в любое время. В случае, если у вас есть вопросы, связанные с обработкой персональных данных, пожалуйста, пишите по адресу info@kolorit.ua.
			