extends ../layout/main
block variable
	-

		
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
	script(src='./assets/scripts/home.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content
	.container
		include ../includes/breadcrumbs.pug
		ul.products-list
			//- ---------------------
			li.products-item
				.products-item__logo.products-item__logo--right
					+img('logo.svg')
				.products-item-l
					.products-item__title Линейка Home
					.products-item__text Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем.
					a(href="#").products-item__link.products-item-link
						.circle-btn
							.circle-btn-inner
								+svg('qww')
						.news-item-btn__text Перейти
					+img('prod/z1_1.png').products-item__decor-img
					
				
			//- ---------------------
			//- ---------------------
			li.products-item
				.products-item__logo.products-item__logo--left
					+img('logo.svg')
				.products-item-l
					.products-item__title Professional линейка
					.products-item__text Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем.
					a(href="#").products-item__link.products-item-link
						.circle-btn
							.circle-btn-inner
								+svg('qww')
						.news-item-btn__text Перейти
					+img('prod/z1_2.png').products-item__decor-img
				.products-item-r.products-item__img
					+img('temp/z2.jpg')
			//- ---------------------

			//- ---------------------
			li.products-item
				.products-item__logo.products-item__logo--right
					+img('logo.svg')
				.products-item-l
					.products-item__title Средства подготовки<br> поверхности
					+img('prod/z1_3.png').products-item__decor-img
					.products-item__text Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем.
					a(href="#").products-item__link.products-item-link
						.circle-btn
							.circle-btn-inner
								+svg('qww')
						.news-item-btn__text Перейти
			//- ---------------------
			//- ---------------------
			li.products-item
				.products-item__logo.products-item__logo--left
					+img('logo.svg')
				.products-item-l
					.products-item__title Сухие и готовые<br> шпатлевки
					+img('prod/z1_4.png').products-item__decor-img
					.products-item__text Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем.
					a(href="#").products-item__link.products-item-link
						.circle-btn
							.circle-btn-inner
								+svg('qww')
						.news-item-btn__text Перейти
				.products-item-r.products-item__img
					+img('temp/z4.jpg')
			//- ---------------------
			//- ---------------------
			li.products-item
				.products-item__logo.products-item__logo--right
					+img('logo.svg')
				.products-item-l
					+img('prod/z1_5.png').products-item__decor-img
					.products-item__title Клея для<br> стекло обоев
					.products-item__text Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем.
					a(href="#").products-item__link.products-item-link
						.circle-btn
							.circle-btn-inner
								+svg('qww')
						.news-item-btn__text Перейти
			//- ---------------------
			//- ---------------------
			li.products-item
				.products-item__logo.products-item__logo--left
					+img('logo.svg')
				.products-item-l
					.products-item__title Лаки и Эмали
					.products-item__text Компания Kolorit - бренд лакокрасочных материалов с 17-летней историей и известным именем.
					a(href="#").products-item__link.products-item-link
						.circle-btn
							.circle-btn-inner
								+svg('qww')
						.news-item-btn__text Перейти
				+img('prod/z1_6.png').products-item__decor-img
				.products-item-r.products-item__img
					+img('temp/z6.jpg')
			//- ---------------------


