extends ../layout/main
block variable1
	-
		var title_page = 'Kolorit Legenda'
		var breadcrumbsSubitem = [
				{
					label: 'Краски kolorit',
					link: "/"
				},
				{
					label: 'Продукция',
					link: pagesLink[0].products
				},
				{
					label: 'линейка home',
					link: pagesLink[0].productsSingle
				},
			];
		
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='https://www.youtube.com/iframe_api')
	script(src='./assets/scripts/index.js')
	script(src='./assets/scripts/prod-card.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content


	.container
		include ../includes/breadcrumbs.pug
		style.
			.products-card-banner {
				background-image: url('assets/images/prod-single/1.jpg');
			}
			@media (max-width: 700px) {
				.products-card-banner {
					background-image: none;
				}
			}
	.products-card-banner-mobile(style="background-image: url('assets/images/prod-single/1.jpg');")
	.products-card-banner
		.container
			.products-card-banner__title(style="color: #F6F7FC") Kolorit Legenda
			.products-card-banner__text(style="color: #F6F7FC") Kolorit Legenda - флагман линейки Home. Ее глубокоматовый блеск позволяет изящно подчеркнуть фактуру поверхности. Расширенная палитра цветов, позволяет подчеркнуть исключительность вашего интерьера. Идеальна для гостинных, спален и других помещений, в которых цвет и фактура имеет значение, а высший класс истирания делает покрытие долговечным и стойким.
			ul.products-card-banner__hash.products-card-banner-hash
				li.products-card-banner-hash__item #идеально гладкая поверхность
				li.products-card-banner-hash__item #глубокоматовая
				li.products-card-banner-hash__item #изящное финишное покрытие
	.container
		.products-card-block
			.products-card-block__l
				.products-card-block__title Kolorit Legenda
				.products-card-block-img-wrap
					+img('prod-single/ee1.png').img-prod
					ul.products-card-block-info
						each v in [1,1,1]
							//- ----------
							li.products-card-block-info-item
								+img('prod-single/s1.svg').products-card-block-info-item__ico
								.products-card-block-info-item-descr
									+svg('vopr')
									p.products-card-block-info-item-descr__text заключение «Ассоциации аллергологов Украины» и Института экогигиены и токсикологии о гипоаллергенности продукции;
							//- ----------
						//- ----------
						li.products-card-block-info-item.products-card-block-info-item--long
							+img('prod-single/svv.svg').products-card-block-info-item__ico
							.products-card-block-info-item-descr
								+svg('vopr')
								p.products-card-block-info-item-descr__text заключение «Ассоциации аллергологов Украины» и Института экогигиены и токсикологии о гипоаллергенности продукции;
						//- ----------
						li.products-card-block-info-item.products-card-block-info-item--long
							+img('prod-single/svv.svg').products-card-block-info-item__ico
							.products-card-block-info-item-descr
								+svg('vopr')
								p.products-card-block-info-item-descr__text заключение «Ассоциации аллергологов Украины» и Института экогигиены и токсикологии о гипоаллергенности продукции;
						//- ----------
			.products-card-block__r
				ul.products-card-block-list
					each v, yy in ['Cтепень блеска','Разбавляется водой','Устойчивая к частому мытью','Расход 12м2','Тонировка по системе Avatint Tikkurila','Для сухих и влажных помещений','50000 цветов','Подходит для нанесения: кистью, валиком, краскопультом.','Для внутреннего применения (для стен и потолков)']
						li.products-card-block-item
							+img('prod_ico/in'+yy+'.svg').products-card-block-item__ico
							span.products-card-block-item__text= v
				.products-card-block__btn-wrap
					a.calc-link(href="#") Калькулятор краски
					a.color-choice-link(href="#") Выбрать цвет
					a.buy-color-link.underline-link(href="#")
						span.red Где купить краску?
		.products-card-tab
			ul.products-card-tab-btns
				each v in ['Область и объекты применения','Технические характеристики', 'документы', 'Инструкция по применению']
					li.products-card-tab-btns-item
						button(type="button").products-card-tab-btn.js-products-card-tab-btn.btn--res= v
			ul.products-card-tab-content
				li.brd.js-products-card-tab-content-item.products-card-tab-content-item.custom-scroll
					ul.usage-area-list
						each v in [1,1,1,1,1]
							//------------
							li.usage-area-item
								h5.usage-area-item__key Идеально для:
								p.usage-area-item__text первичной и ремонтной окраски стен и потолков в гостиных, спальнях.
							//------------
							//------------
							li.usage-area-item
								h5.usage-area-item__key Хорошо подходит для:
								p.usage-area-item__text детских комнатах, кухонь, ванных (за исключением мест прямого попадания воды) и др. жилых помещений, а также в помещениях с высокой эксплуатационной нагрузкой (например, детские сады, учебные заведения, санаторнокурортные, гостиничные, офисные помещения, магазины и т.п.).
							//------------
				li.brd.js-products-card-tab-content-item.products-card-tab-content-item.custom-scroll
					ul.usage-area-list
						each v in [1,1,1,1,1]
							//------------
							li.usage-area-item
								h5.usage-area-item__key Идеально для:
								p.usage-area-item__text первичной и ремонтной окраски стен и потолков в гостиных, спальнях.
							//------------
							//------------
							li.usage-area-item
								h5.usage-area-item__key Хорошо подходит для:
								p.usage-area-item__text детских комнатах, кухонь, ванных (за исключением мест прямого попадания воды) и др. жилых помещений, а также в помещениях с высокой эксплуатационной нагрузкой (например, детские сады, учебные заведения, санаторнокурортные, гостиничные, офисные помещения, магазины и т.п.).
							//------------
				li.brd.js-products-card-tab-content-item.products-card-tab-content-item.custom-scroll.document-item
					each v in [1,1,1,1,1,1,1,1]
						// ------
						a(href="#" download).docs-slider__item
							.docs-slider__card-wrapper
								.docs-slider__card
									.docs-slider__card-inner
										.docs-slider__card-top
											+svg('doc').docs-slider__doc-icon
											span.docs-slider__file-size 0.2 MB
										span.docs-slider__card-text KOLORIT
								.docs-slider__bottom
									span.docs-slider__filename Очень хороший сертификат качества 
									.docs-slider__download-link
										+svg('download').docs-slider__download-icon
						// ------
				li.brd.js-products-card-tab-content-item.products-card-tab-content-item.custom-scroll.instruction-item
					//------------
					p детских комнатах, кухонь, ванных (за исключением мест прямого попадания воды) и др. жилых помещений, а также в помещениях с высокой эксплуатационной нагрузкой (например, детские сады, учебные заведения, санаторнокурортные, гостиничные, офисные помещения, магазины и т.п.).
					//------------
					//------------
					p детских комнатах, кухонь, ванных (за исключением мест прямого попадания воды) и др. жилых помещений, а также в помещениях с высокой эксплуатационной нагрузкой (например, детские сады, учебные заведения, санаторнокурортные, гостиничные, офисные помещения, магазины и т.п.).
					//------------
		.row.products-card-form-row
			.products-card-form
				.products-card-form-title-wrap
					h4.products-card-form__title Запрос просчета
					p.products-card-form__subtitle Если вам нужна помощь в просчете необходимого количества материалов, вы не знаете, какой продукт идеально подойдет под вашу задачу - наши специалисты готовы помочь вам сделать правильный выбор и пасчеты!
				form.modal-form
					input(type="text" required placeholder="Телефон*").modal-form__input
					input(type="email" required placeholder="E-mail*").modal-form__input
					input(type="text" required placeholder="Город*").modal-form__input
					input(type="text" placeholder="Детали запроса").modal-form__input.margin-top--more
					button.btn--res.modal-form__btn Отправить
		each v,j in ['eu5aGhqksbY']
			.row.products-card-video-row.js-prod-video(data-id= v)
				.products-card-video
					.products-card-video-wrap
						.player(id='player'+j)
				.products-card-video-nav
					.products-card-video-nav__title Ролик о КРАСКЕ KOLORIT LEGENDA
					.products-card-video-nav__decor
					.products-card-video-nav__time.js-products-card-video-nav__time 0:00
	.products-card-cta
		.container
			.row
				.products-card-cta__title Где купить?
				.products-card-cta__subtitle Краски KOLORIT можно купить в любом регионе Украины
				a(href="#").products-card-cta__link.link-arrow-type
					.circle-btn
						.circle-btn-inner
							+svg('qww')
					span.link-arrow-type__text Cписок<br> магазинов
	.container
		.row.products-card-same-sl-row
			.products-card-same-sl
				.products-card-same-sl__title Вам могут понадобиться
				.products-card-same-sl-slider-wrap
					.products-card-same-sl-navbar-btn-wrap
						button(type="button").btn--res.slider-btn.js-products-card-same-sl-slider-prev
							+svg('arr-small-right')
						button(type="button").btn--res.slider-btn.js-products-card-same-sl-slider-next
							+svg('arr-small-left')
					.products-card-same-sl-slider.js-products-card-same-sl-slider
						each v in [1,1,1,1,1,1]
							a(href="#").products-card-same-sl-slider-item
								.products-card-same-sl-slider-item__img
									+img('temp/vv.png')
								.products-card-same-sl-slider-item__title Грунтовка Reaflex 50
	.products-card-advice-sl-container-wrap
		.container
			.row.products-card-advice-sl-row
				.products-card-advice-sl
					.products-card-advice-sl__title Советы по применению
					.products-card-advice-sl-slider-wrap
						.products-card-advice-sl-navbar-btn-wrap
							button(type="button").btn--res.slider-btn.js-products-card-advice-sl-slider-prev
								+svg('arr-small-right')
							button(type="button").btn--res.slider-btn.js-products-card-advice-sl-slider-next
								+svg('arr-small-left')
						ul.products-card-advice-sl-slider.js-products-card-advice-sl-slider
							each v in [1,1,1,1,]
								li.advice-sl-slider-li
									a.news-item
										.news-item__img
											+img('temp/12.jpg')
										.advice-item__subtitle
											.advice-item__subtitle__num СОВЕТ №1
											.advice-item__subtitle__text Работа с цветом
										h4.news-item__title.underline-link
											span 6 причин купить шпатлевку Kolorit STANDART LF в июне 6 причин купить шпатлевку Kolorit STANDART LF в июне
										.news-item__time 17.03.2010
										.news-item-btn.link-arrow-type
											.circle-btn
												.circle-btn-inner.dark-ico
													+svg('qww')
											.news-item-btn__text Подробнее
