extends ../layout/main
block variable1
	-
		var title_page = 'Правила пользования сайтом'
		var breadcrumbsSubitem = [
				{
					label: 'Краски kolorit',
					link: "/"
				},
			];
		
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content
	.container.position--relative
		include ../includes/breadcrumbs.pug
	.policy-rules
		.container
			h1.advice-open-title.policy-rules__title Правила пользования сайтом
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title УСЛОВИЯ ПОЛЬЗОВАНИЯ ВЕБ-САЙТОМ WWW.KOLORIT.UA
				p Условия использования (далее «Условия») относятся ко всем, кто намерен использовать веб-сайт www.kolorit.ua(“Сайт”). Для того, чтобы использовать Сайт, вы должны соблюдать Условия, изложенные ниже. Если вы не согласны с этими Условиями и <a href="policy.html">Политикой конфиденциальности</a>, вы не имеете права использовать Сайт.
				p Компания «Краски Колорит» оставляет за собой право в любое время изменять Условия пользования сайтом, его содержание и услуги, упомянутые на нём, поэтому на вас лежит ответственность за регулярное рассмотрение Условий. Продолжая использовать Сайт после внесённых изменений, вы тем самым принимаете пересмотренные Условия.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title НЕСАНКЦИОНИРОВАННОЕ ИСПОЛЬЗОВАНИЕ
				p Вы не имеете права изменять, переносить или продавать любую информацию, данные, программные приложения и услуги, опубликованные на сайте, а также передавать кому-либо права пользования им. Вы не вправе использовать информацию, опубликованную на Сайте, неприемлемым, оскорбительным или незаконным способом, например, путем отправки нежелательной почты или спам-рассылки третьим лицам.  Запрещается оставлять недостоверные персональные данные. Запрещено пользоваться Сайтом с целью очернения имени компании «Краски Колорит» или её партнёров.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ДОСТУП К И СОДЕРЖАНИЕ ВЕБ-САЙТА
				p Компания «Краски Колорит» имеет право ограничивать доступ к предоставляемым услугам, или вносить другие изменения в режим работы сайта. Компания «Краски Колорит» имеет право, но не обязанность, мониторить все материалы, содержащиеся на сайте, комментировать, перемещать или удалять любой материал, который посчитает оскорбительным или незаконным или иным образом нарушающим Условия.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ПРАВА НА ИНТЕЛЛЕКТУАЛЬНУЮ СОБСТВЕННОСТЬ
				p Сайт охраняется законом об интеллектуальной собственности, международными договорами и соглашениями в области ПИС. Компании «Краски Колорит» принадлежат права на все названия и символы, связанные с продуктами и услугами «Краски Колорит» на Сайте. Ни каким образом вам не даётся право на использование торговых знаков, символов, логотипов и т.п., принадлежащих компании Тиккурила или третьим лицам, которые размещены на сайте.
			.news-open__text-block
				h3.advice-open-list-title.news-open__advice-open-list-title ИСКЛЮЧЕНИЕ ОТВЕТСТВЕННОСТИ
				p Компания «Краски Колорит» не несет ответственности за любые нарушения или сбои работы сайта.
			
			