extends ../layout/main
block variable1
	-
		var title_page = 'Сервисы'
		var breadcrumbsSubitem = [
				{
					label: 'Краски kolorit',
					link: "/"
				},
			];
		
block meta
	title= title_page
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='https://www.youtube.com/iframe_api')
	script(src='./assets/scripts/index.js')
	script(src='./assets/scripts/services.js')
block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug


block content
	.container
		include ../includes/breadcrumbs.pug
	.services
		.services-sec1
			.container
				.row
					.services-sec1__block.block-sec1
						.block-sec1__image-wrapper
							+img('services/services-block1.jpg')
						h2.block-sec1__title.services-title Цветовые палитры
						p.block-sec1__text.services-text Наши цветовые палитры помогут подобрать оттенок, который будет идеально подходить вашему дизайн-плану, а фильтр по семейству цветов облегчит выбор. Также у нас есть отдельные палитры для разных поверхностей и материалов.
						a(href="palette.html").block-sec1__btn.services-btn Подобрать цвет
					.services-sec1__block.block-sec1
						.block-sec1__image-wrapper
							+img('services/services-block2.jpg')
						h2.block-sec1__title.services-title Калькулятор расхода краски
						p.block-sec1__text.services-text Не знаете, какое количество краски понадобится для ремонта? Рассчитайте его с помощью калькулятора Kolorit, учитывая расход материала, параметров помещения и типа поверхности.
						a(href="calculator.html").block-sec1__btn.services-btn Рассчитать
		.services-sec2
			.container
				.services-sec2__title.services-title Три простых шага для получения краски
				.row
					.company-principles__info-block
						.company-principles__info-block-inner
							.company-principles__info-block-top
								+img('services/info-block1.svg').company-principles__info-block-img
								h4.company-principles__info-block-title.company-advantages__small-title Cервисы
							.company-principles__info-block-content
								.company-principles__info-block-text-collapse-wrapper.services-text
									p Консультанты Kolorit во всех точках продаж проходят обучение по работе с материалами, знают технические характеристики красок и особенности их нанесения. Поэтому они подберут продукт именно под ваши потребности.
									p В наших фирменных магазинах Color Studio есть цветовые палитры, примеры выкрасов всех материалов и дизайнерские столы, на которых вы сможете проверить, как освещение повлияет на выбранный цвет.
									p Если же требуется консультация на месте ремонта, специалист Kolorit приедет к вам и помимо профессиональной консультации предоставит примеры материалов и цветовые палитры.
						.company-principles__info-block-bottom
							.company-principles__info-block-cross.services-sec2__info-block-cross
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M7 8V15H8V8H15V7H8V0H7V7H0V8H7Z" fill="#C11426"/>
								</svg>
							button.services-btn.company-principles__btn.js-open-consult-services Заказать услугу
					.company-principles__info-block
						.company-principles__info-block-inner
							.company-principles__info-block-top
								+img('services/info-block2.svg').company-principles__info-block-img
								h4.company-principles__info-block-title.company-advantages__small-title Заказ выкрасов
							.company-principles__info-block-content
								.company-principles__info-block-text-collapse-wrapper.company__text
									p Не уверены, что выбранный цвет будет хорошо смотреться в помещении? Для того, чтоб финально определиться с цветом, вы можете заказать сет выкрасов и оценить, как на него повлияет тип вашего помещения и освещения, и его сочетание с другими элементами интерьера. Заказывайте и забирайте выкрасы в сети наших фирменных магазинов Color Studio или закажите их доставку на место ремонта.
						.company-principles__info-block-bottom
							.company-principles__info-block-cross.services-sec2__info-block-cross
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M7 8V15H8V8H15V7H8V0H7V7H0V8H7Z" fill="#C11426"/>
								</svg>
							button.services-btn.company-principles__btn.js-open-consult-services-order Заказать услугу
					.company-principles__info-block
						.company-principles__info-block-inner
							.company-principles__info-block-top
								+img('services/info-block3.svg').company-principles__info-block-img
								h4.company-principles__info-block-title.company-advantages__small-title Бесплатная доставка
							.company-principles__info-block-content
								.company-principles__info-block-text-collapse-wrapper.services-text
									p Kolorit бесплатно доставляет заказы, сделанные в фирменных магазинах Color Studio. Больше об этом сервисе расскажем вам лично, для этого звоните на нашу горячую линию.
						.company-principles__info-block-bottom
							.company-principles__info-block-cross.services-sec2__info-block-cross
								<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M7 8V15H8V8H15V7H8V0H7V7H0V8H7Z" fill="#C11426"/>
								</svg>
							button.services-btn.company-principles__btn.js-open-consult-services-shipping Заказать услугу
		.services-school#kolorit-academy
			.container
				.row.services-school__row
					.services-school__img-wrapper
						+img('services/school.jpg').services-school__img
					.services-school__content
						h3.services-school__title Школа мастеров Kolorit Academy
						.services-school__text.services-text
							p Kolorit Academy — это место, где вы получите высококвалифицированное обучение по работе с лакокрасочными покрытиями, а главное — практическое применение полученных знаний. 
							p Прямо на наших мастер-классах вы научитесь подбирать, наносить и работать с разными материалами, а теоретические знания повысят ваш профессиональный уровень. Проводят занятия практикующие мастера, технологи Kolorit и приглашенные специалисты.
							p Мастер-классы проходят каждый месяц по всей территории Украины. Чтобы попасть на обучение, выбирайте мастер-класс в расписании и отправляйте заявку на участие
						button.services-school__btn.services-btn.js-school-popup-open Расписание
		.services-slider
			.container
				.row
					.services-slider__control
						.services-slider__counter-wrapper
							span.services-slider__counter-wrapper-text фото 
							span.services-slider__counter.js-services-slider-counter 1/7
						.services-slider__arrows
							.services-slider__arrow.js-services-arrow-prev
								+svg('docs-arrow-prev')
							.services-slider__arrow.js-services-arrow-next
								+svg('docs-arrow-next')
					.services-slider__slider.js-services-slider
						.js-services-slider__item
							+img('services/sl1.jpg')
						.js-services-slider__item
							+img('services/sl2.jpg')
						.js-services-slider__item
							+img('services/sl3.jpg')
						.js-services-slider__item
							+img('services/sl4.jpg')
						.js-services-slider__item
							+img('services/sl6.jpg')
		.services-banner
			.container
				.services-banner__inner
					span.services-title Рекламный баннер
					span.services-banner__text 1200х400
		.services-loyalty#kolorit-loyalty
			.container
				.services-loyalty__row.row
					.services-loyalty__banner
						.services-loyalty__banner-inner
							h3.services-loyalty__title.services-title Программа лояльности
							.services-loyalty__content-wrapper
								p.services-loyalty__text.services-text Получайте дополнительные скидки, приятные бонусы, специальные условия и постоянную поддержку, участвуя в программе лояльности Kolorit.
								button.link-with-circle.services-loyalty__link-with-circle.btn--res.js-open-popup-services
									.link-with-circle__circle
										.link-with-circle__circle-inner
											<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M9 2.8L7.2 4.6L7.2 2.8L7.2 1L9 2.8Z" fill="#C11426"/>
												<path d="M-7.86805e-08 2.8L9 2.8M9 2.8L7.2 4.6L7.2 1L9 2.8Z" stroke="#C11426" stroke-width="0.6"/>
											</svg>
									span.link-with-circle__text Запросить условия
		

