$default-font: "Gilroy",
sans-serif;
$default-font2: "montser",
sans-serif;
$mc: #FF7556;
$mc2: #17315B;
$mc3: #9AB4C1;

$wc: #FBFBFB;
$bc: #292C35;

$mc4: #4F90B6;
$gray:rgb(135, 135, 151);
$text: #22223E;
$bc2: #000;
