include ../includes/mixins.pug
-
	var pagesLink = [	
		{
			home: '/',
			
			products: './products.html',
			productsSingle: './products-single.html',
			productsCard: './products-card.html',
			news: './news.html',
			object: './object.html',
			advice: './advice.html',
			discounts: './discounts.html',
			company: './company.html',
		}
	];
	var pageItm = [
		{
			title: 'Цветовые палитры',
			btn: 'Подобрать',
		},
		{
			title: 'Калькулятор расхода краски',
			btn: 'Рассчитать',
		},
		{
			title: 'Выездная консультация',
			btn: 'Заказать',
		},
		{
			title: 'Бесплатная доставка',
			btn: 'Оформить',
		}
	]
	var pageOpen  = [
		{
			title: 'Интерьерные краски',
			btn: 'Изящные, практичные и безопасные — то, что нужно для атмосферы уюта в вашем доме.',
		},
		{
			title: 'Средства подготовки поверхности',
			btn: 'Надежная основа для ваших идей.',
		},
		{
			title: 'Клея для стеклообоев',
			btn: 'Удобные в нанесении, экологичные и прочные клеи для всех видов обоев.',
		},
		{
			title: 'Шпатлевки и сухие смеси',
			btn: 'Сухие и финишные шпатлевки для идеально ровных стен.',
		},
		{
			title: 'Лаки и эмали',
			btn: 'Яркие акценты и благородная фактура вашего интерьера',
		}, 
	]
	var menuObj = [
		{
			title: 'Home линейка',
			sub: ['Kolorit Argentic', 'Kolorit Legenda', 'Kolorit Family', 'Kolorit Idol', 'Kolorit Dynasty', 'Kolorit History']
		},
		{
			title: 'Professional линейка',
			sub: ['Kolorit STANDART 3', 'Kolorit STANDART 5', 'Kolorit STANDART M', 'Kolorit STANDART H']
		},
		{
			title: 'Средства подготовки поверхности',
			sub: ['Kolorit Silanit', 'Kolorit STANDART G', 'Kolorit Biostop', 'Kolorit Beton K']
		},
		{
			title: 'Сухие и готовые шпатлевки',
			sub: ['Kolorit STANDART LF', 'Kolorit STANDART LH', 'Сухая шпатлевка']
		},
		{
			title: 'Клея для стекло обоев',
			sub: ['Kolorit Strong Adgesive', 'Еще клей']
		},
	
		{
			title: 'Лаки и Эмали KOLORIT',
			sub: ['Kolorit Wood and Metal Enamel глянец', 'Kolorit Wood and Metal Enamel полуглянец', 'Kolorit Radiator Enamel', 'Kolorit Panel Lacquer']
		},

	]
	// var title_page = 'Акции'
	// var breadcrumbsSubitem = [
	// 		{
	// 			label: 'Краски kolorit',
	// 			link: "#"
	// 		},
	// 		{
	// 			label: 'инфоцентр',
	// 			link: '#'
	// 		},
	// 	];


block variable
block variable1
doctype html
html(lang="uk")
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
		//- Edge и ряд мобильных браузеров слишком умны. Отключим это.
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(content='notranslate', name='google')
		//- Фавиконки (https://realfavicongenerator.net)
		//- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
		//- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='../static/favicon.ico')
		//- link(rel='manifest', href='/img/favicon/site.webmanifest')
		//- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
		//- meta(name='msapplication-TileColor', content='#5bbad5')
		//- meta(name='theme-color', content='#000')
		//- meta(name='msapplication-navbutton-color', content='#000')
		//- meta(name='apple-mobile-web-app-status-bar-style', content='#000')
		block meta
		block head

	body
		// START SVG SPRITE
		include ../../assets/svg-sprite/sprite/symbol_sprite.php
		// END SVG SPRITE
		// START LOADER
		include ../includes/loader.html
		// END LOADER
		// START menu
		include ../includes/menu.pug
		// END menu
		// START POPUP MODAL
		include ../includes/popup.pug
		// END POPUP MODAL
			
		// -------
		// -------
		// -------
		// -------
		// START HEADER
		block header
		// END HEADER
		.page__inner
			.page__content
				block content

			.page__footer-wrapper
				// START FOOTER
				block footer
				// END FOOTER
		block scripts