
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	max-height: var(--header_h);;
	background: #FFFFFF;
	box-shadow: 0px 15px 35px rgba(154, 179, 192, 0.3);
	@include to(1200px){
		.container{
			padding-left: 0;
			padding-right: 20px;
		}
	}
	@include to(992px){
		box-shadow: none;
	}
	@include to(768px){
		.container{
			padding-right: 15px;
				}
				
			}
			.row-row{
				display: flex;
				align-items: center;
				margin-left: -37px;
				margin-right: -37px;
				@include to(1200px){
					justify-content: space-between;
					margin-left: 0;
					margin-right: 0;
			.container{
				padding-left: 0;
			}
		}
		@include to(700px){
			
			height: 42px;
		}
	}
	a{
		display: flex;
		text-decoration: none;
	}
}


.header-menu{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 0.8;
	&:hover {

		.header-menu-item__title {
			color: #9AB4C1;
		}
	}
	& li.header-menu-item:last-child {
		position: relative;
		&::after{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 22px;
			content: "";
			display: flex;
			
			background-color: #9AB4C1;
		}
	}
}
.header-menu-item > a {

	display: flex;
	height: 100%;
	line-height: 69px;
}
.header-phone{
	padding: 0 5px 0 30px;
	@include to(1200px){
		
		padding: 0 min(vw(5), 5px) 0 min(vw(30), 30px);
	}
	@include to(1024px){
		
		padding: 0 min(vw(5), 5px) 0 min(vw(23), 23px);
	}

	white-space: nowrap;
}
.lang-list-vertical-wrap{
	padding: 0 20px 0 37px;
	@include to(1200px){
		
		padding: 0 min(vw(20), 20px) 0 min(vw(37), 37px);
	}
	@include to(1024px){
		
		padding: 0 min(vw(20), 20px) 0 min(vw(30), 30px);
	}

	white-space: nowrap;
}
.header-menu-item > a,

.header-menu-item__logo{
	white-space: nowrap;
		padding: 0 37px;
		@include to(1200px){
			
			padding: 0 min(vw(33), 33px);
		}
		@include to(1024px){
			
			padding: 0 min(vw(27), 27px);
		}
		@include to(768px){
			
			padding: 0 min(vw(25), 25px);
		}
		@include to(750px){
			
			padding: 0 min(vw(23), 23px);
		}
}
.header-menu-item__logo a{
	padding: 0;
}
.header-menu-item__logo img{
	width: 46px;
	height: 46px;
	min-width: 46px;
	min-height: 46px;
	@include to(992px){
		width: 40px;
		height: 40px;
		min-width: 40px;
		min-height: 40px;

	}
	@include to(700px){
		width: 28px;
		height: 28px;
		min-width: 28px;
		min-height: 28px;

	}
}
.header-menu-item{
	@include to(700px){
		&:not(.header-menu-item__logo){
			display: none;
		}
	}

	&__title{
		font-size: 12px;
		line-height: lh(14, 12);
		align-items: center;
		font-weight: 500;
		text-transform: uppercase;
		color: #000C31;
		transition: all 0.3s;
		&:hover{
			color: #000C31 !important;
		}
		@include to(992px){
			font-size: 10px;
		}
	}
}
.header-menu-item.has-submenu::before {
	position: fixed;
	left: 0;
	top: var(--header_h);;
	width: 100vw;
	content: "";
	display: flex;
	background-color: #F0F1F8;
	z-index: 4;
	opacity: 0;
	pointer-events: none;
}
ul.type-prod-list{
	position: absolute;
	bottom: 0;
	left: 50%;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	width: 200%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(-50%, 50%);
	z-index: 21;
	background-color: #F0F1F8;
	transition: all 0.001s;
}

.type-prod-list-item{
	// border: 1px solid red;
	
	max-width: min(vw(600), 600px);
	width: 100%;
	height: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 22;
	&__icon{
		margin-right: 15px;
		width: 32px;
		height: 24px;
	}
	&__text{
		font-weight: 500;
		font-size: 16px;
		line-height: lh(28,16);
		color: #000C31;
	}
}
.bgc--blue {
		background: #17315B;
}
.bgc--red {
		background: #C11426;
}
.bgc--white {
		background: #fff;
}

ul.header-submenu{
	display: none;
	position: fixed;
	top: var(--header_h);;
	left: 50%;
	padding: 75px 0 0px;
	transform: translateX(-50%);
	max-width: 1200px;
	width: 100%;
	background-color: #F0F1F8;
	z-index: 5;
	margin-right: -17px;
	margin-left: -17px;
	@include to(1200px){
		margin: 0;
	}
	@include to(992px){
		padding: 25px 0 50px;

	}

	li:hover~li.overlay {
		opacity: 0.7;
	}
	li:hover {
		z-index: 20;
		.header-submenu-item__title{
			color: #F6F7FC;
		}
		.header-submenu-item__img img{
			transform: scale(1.1);
		}
		.type-prod-list{
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			transform: translate(-50%, 50%);
		}
	}
	li.overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 300%;
		height: 100%;
		background: #9AB4C1;
		opacity: 0;
		z-index: 10;
		transform: translate(-50%, 0);
		pointer-events: none;
		transition: all 0.3s;
	}
	.header-submenu-item{
		margin: 0 17px;
		flex-direction: column;
		align-items: center;
		width: 196px;
		transition: all 0.3s;
		@include to(1200px){
			margin: 0 10px;

			width: calc(20vw - 24px);
		}
		&__img{
			margin-bottom: 15px;
			width: 100%;
			height: 239px;
			overflow: hidden;
			@include to(992px){
				height: 200px;
			}
			@include to(992px){
				height: 157px;
			}
			img{
				height: 100%;
				object-fit: cover;
				transition: all 0.3s;
			}
		}
		&__title{
			padding: 0px 10px;
			font-size: 16px;
			line-height: lh(30, 16);
			text-align: center;
			color: #000C31;
			transition: all 0.3s;
			@include to(992px){
				font-size: 12px;
				line-height: lh(18, 12);
			}
		}
	}
}
ul.header-submenu, .header-menu-item::before {
	height: 450px;
	@include to(992px){
		height: 331px;
	}
}
ul.header-submenu {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	display: flex;
	transition: all 0.3s;
}
.header-menu-item.has-submenu {
	&:hover{
		&::before{
			opacity: 1;
		}
		ul.header-submenu {
			opacity: 1;
			pointer-events: auto;
			visibility: visible;

		}
	}
}

.lang-list-vertical-wrap .icon--arr {
	width: 7px;
	height: 6px;
}
.header .header-search {
	width: 13px;
	height: 13px;
	padding: 0;
	display: flex;
	flex-shrink: 0;
}
.header-phone__icon{
	width: 10px;
	height: 10px;
}

.fill--none{
	fill: none;
}
.header-phone{
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding-right: min(2.5vw, 30px);
	&__icon{
		margin-right: 10px;
	}
	&__text{
		
	}
	&::after {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 1px;
		height: 12px;
		content: "";
		display: flex;
		
		background-color: #9AB4C1;
	}
	@include from(701px) {
		padding-right: 0;
					&::after {

						display: none;
					}
	}

}
.header__text {
	font-size: 12px;
	line-height: lh(14, 12);
	align-items: center;
	text-transform: uppercase;
	color: #000C31;
}
header .header__text {
	@include to(992px){
		font-size: 10px;
		line-height: 1.5em;
	}
	@include to(700px){
		font-size: 12px;
	}
}
.lang-list-vertical {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 18px;
	transition: all 0.3s;
	@include to(992px){
		height: 13px;
	}
	@include to(700px){
		height: 16px;
	}
	&-wrap {
		display: flex;
		align-items: center;
		transition: all 0.3s;

		&:hover {
			cursor: pointer;

			.lang-list-vertical {
				height: 35px;
				@include to(992px){
					height: 30px;

				}
				@include to(992px){
					height: 35px;

				}
			}

			svg {
				transform: rotate(180deg);
			}
		}

		svg {
			margin: 0 5px;
			width: 15px;
			height: 10px;
			transition: all 0.3s;

			@include to(576px) {
				width: 11px;
				height: 8px;

			}
		}
	}

	&__item.active {
		order: -1;
	}

	&__item {
		a {
			text-decoration: none;
			font-size: 12px;
			line-height: 1.5em;
			text-transform: uppercase;
			color: #000C31;

			@include to(992px) {
				font-size: 10px;
				line-height: 1.5em;
			}
			@include to(700px){
				font-size: 12px;
			}
		}
	}
}



.header-menu-btn{
	@include from(701px){
		display: none;
	}
	margin: 0 0 0 15px;
	padding: 0;
	width: 14px;
	height: 11px;
	svg{
		width: 100%;
		height: 100%;
	}
}
.width--midlle:not(#H) {
	max-width: 400px;
	@include to(992px){
		max-width: min(vw(400), 400px);

	}
}