
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	max-height: 66px;
	background: #FFFFFF;
	box-shadow: 0px 15px 35px rgba(154, 179, 192, 0.3);
	.row-row{
		display: flex;
		align-items: center;
		margin-left: min(vw(-44), -44px);
		margin-right: min(vw(-44), -44px);
	}
	a{
		display: flex;
		text-decoration: none;
	}
}


.header-menu{
	position: relative;
	display: flex;
	align-items: center;
	&:hover {

		.header-menu-item__title {
			color: #9AB4C1;
		}
	}
	& li.header-menu-item:last-child {
		position: relative;
		&::after{
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 22px;
			content: "";
			display: flex;
			
			background-color: #9AB4C1;
		}
	}
}
.header-menu-item > a {

	display: flex;
	height: 100%;
	line-height: 69px;
}
.header-menu-item > a,
.header-phone,
.lang-list-vertical-wrap {
	white-space: nowrap;
		padding: 0 min(vw(44), 44px);
}
.header-menu-item__logo{
	width: 46px;
	height: 46px;
}
.header-menu-item{

	&__title{
		font-size: 12px;
		line-height: lh(14, 12);
		align-items: center;
		font-weight: 500;
		text-transform: uppercase;
		color: #000C31;
		transition: all 0.3s;
		&:hover{
			color: #000C31 !important;
		}
	}
}
.header-menu-item::before {
	position: fixed;
	left: 0;
	top: 66px;
	width: 100vw;
	content: "";
	display: flex;
	background-color: #F0F1F8;
	z-index: 4;
}
ul.header-submenu{
	display: none;
	position: fixed;
	top: 68px;
	left: 50%;
	padding: 75px 0 50px;
	transform: translateX(-50%);
	max-width: 1200px;
	width: 100%;
	justify-content: center;
	background-color: #F0F1F8;
	z-index: 5;
	.header-submenu-item{
		margin: 0 15px;
		flex-direction: column;
		width: min(vw(196), 196px);
		&__img{
			width: 196px;
			height: 239px;
			img{
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
ul.header-submenu, .header-menu-item::before {
	height: 450px;

}
ul.header-submenu.header-submenu-test {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	display: flex;
}
.header-menu-item{
	&:hover{

		// ul.header-submenu{
		// 	display: flex;
		// }
	}
}

.lang-list-vertical-wrap .icon--arr {
	width: 7px;
	height: 6px;
}
.header .header-search {
	width: 14px;
	height: 14px;
	padding: 0;
	display: flex;
}
.header-phone__icon{
	width: 10px;
	height: 10px;
}


.header-phone{
	display: flex;
	align-items: center;
	text-decoration: none;
	&__icon{
		margin-right: 10px;
	}
	&__text{
		
	}

}
.header__text {
	font-size: 12px;
	line-height: lh(14, 12);
	align-items: center;
	text-transform: uppercase;
	color: #000C31;
}
.lang-list-vertical {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 23px;
	transition: all 0.3s;

	&-wrap {
		display: flex;
		align-items: center;
		transition: all 0.3s;

		&:hover {
			cursor: pointer;

			.lang-list-vertical {
				height: 69px;
			}

			svg {
				transform: rotate(180deg);
			}
		}

		svg {
			margin: 0 5px;
			width: 15px;
			height: 10px;
			transition: all 0.3s;

			@include to(576px) {
				width: 11px;
				height: 8px;

			}
		}
	}

	&__item.active {
		order: -1;
	}

	&__item {
		a {
			text-decoration: none;
			font-size: 12px;
			line-height: 1.5em;
			text-transform: uppercase;
			color: #000C31;

			@include to(576px) {
				font-size: 10px;
				line-height: 1.1em;
			}
		}
	}
}
