@import './assets/smart-grid';  // mixins smartgrid.js
@import './assets/vars';  // переменные
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './loader';





@import './pages/home';
@import './menu';
@import './popup';
@import './pages/diss';
@import './pages/products';
@import './pages/products-single';
@import './pages/products-card';
@import './pages/news';
@import './pages/object';
@import './pages/advice';




/**********************************/
/*
* breadcrumbs start
*/
.main-title {
	margin: 0 20px 0 0;
	line-height: 1.1em;
	color: #000C31;
	font-family: $default-font2;
	white-space: nowrap;
	transform: translateY(-3px);
	font-weight: 500;
	font-size: 18px;

	@include to(768px){
		margin: 0 5px 0 0;
		font-size: 16px;
	}


}

.breadcrumbs {
	margin: 100px 0 18px 0;
	padding: 0 0 0 45px;
	display: flex;
	align-items: center;
	
	@include to(1020px) {
		padding: 0 0 0 0px;

	}
	@include to(700px){
		margin: 70px 0 18px 0;

	}
}

.breadcrumbs-item {
	margin: 0 20px;
	@include to(768px){
		margin: 0 17px;

	}
	&__link {
		position: relative;
		line-height: 1em;
		display: flex;
		color: #9AB4C1;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		@include to(1440px) {

		}

		&::after {
			position: absolute;
			top: 50%;
			right: -20px;
			width: 0.5px;
			height: 7px;
			background-color: #9AB4C1;
			display: flex;
			content: "";
			transform: translateY(-50%);

			@include from(1441px) {
				width: 1px;
			}
		}
	}
}

.breadcrumbs-item__current--color {
	color: #C11426;
	font-size: 10px;
	text-transform: uppercase;
}

.breadcrumbs-item__current {
	color: #CE8163;

	font-size: 10px;
	@include to(1440px) {

	}
}

.breadcrumbs-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: -13px;
	margin-right: -13px;

	li:first-child {
		margin-left: 13px;
	}
}

/*
* breadcrumbs end
*/
/**********************************/
