.modal-form-popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 97px 80px 88px 80px;
	display: none;
	max-width: 900px;
	width: 100%;
	min-height: 580px;
	background: #F6F7FC;
	box-shadow: 0px 5px 40px rgba(23, 49, 91, 0.05);
	z-index: 15;
	@include to(992px){
		max-width: 724px;
		width: 90%;
		padding: 97px 80px 88px 62px;
	}
	@include to(700px){
		padding: 51px 33px 33px 33px;
		flex-direction: column;
		align-items: center;
		min-height: 480px;
	}
}
.js-modal-form__btn-close{
	position: absolute;
	top: 25px;
	right: 25px;
	width: 52px;
	height: 52px;
	svg{
		width: 100%;
		height: 100%;
		fill: none;
	}
	@include to(700px){
		width: 28px;
		height: 28px;

	}
}

.modal-form-popup__title{

	width: 55%;
	@include to(768px){
		width: 45%;
	}
	@include to(700px){
		width: 100%;
	}
}
.modal-form {
	width: 45%;
	@include to(768px){
		width: 55%;
	}
	@include to(700px){
		width: 100%;
	}
}
.modal-form-popup__title{
	font-weight: bold;
	font-size: 45px;
	line-height: lh(55, 45);
	padding-right: 67px;
	color: #000C31;
	@include to(992px){
		font-size: 32px;
	}
	@include to(700px){
		margin-bottom: 24px;
		font-size: 24px;
	}
}

.margin-top--more:not(#k) {
	margin-top: 36px;
	margin-bottom: 73px;
	@include to(700px){
		margin-top: 35px;
		margin-bottom: 30px;
	}
}
.modal-form{
	display: flex;
	flex-direction: column;
		&__input {
			margin-bottom: 33px;
			height: 32px;
			width: 100%;
			font-size: 12px;
			line-height: 22px;
			border: none;
			border-bottom: 1px solid rgba(154, 180, 193, 0.5);
			color: #17315B;
			background-color: transparent;
			@include to(700px){
				margin-bottom: 25px;
			}
			&::placeholder {
				color: #17315B;
			}

			&:-moz-placeholder {
				color: #17315B;
			}

			&::-webkit-input-placeholder {
				color: #17315B;
			}

			&:-ms-input-placeholder {
				color: #17315B;
			}

			&::-ms-input-placeholder {
				color: #17315B;
			}
		}
			&__btn {
				margin-top: 10px;
				margin-left: auto;
				width: 210px;
				height: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #9AB4C1;
				border-radius: 25px;
				font-weight: 500;
				font-size: 15px;
				letter-spacing: 0.08em;
				font-weight: 500;
				/* вайт */

				color: #000C31;

				@include to(992px) {
					width: 180px;
					height: 40px;
					font-size: 12px;

				}

				@include to(700px) {
					margin: 0 auto;
					width: 200px;
					height: 44px;
				}
			}
}